/*

Template:  The Corps — Responsive Multi-purpose HTML5 Template
Author: potenzaglobalsolutions.com
Version: 2.1
Design and Developed by: potenzaglobalsolutions.com

*/


 /*****************
================================================
 (  Media Queries  )
================================================
 *******************/


/*************************
       1700px
*************************/    
@media (max-width: 1700px) {
.our-portfolio .portfolio-info { overflow: hidden; }
.portfolio-item .portfolio-overlay span { font-size: 15px; }

} 


@media (max-width: 1400px) {
 .our-portfolio .portfolio-info p { display: none; } 
 .our-portfolio .portfolio-info .button-border-white { margin-top: 20px; display: block; }
 .portfolio-item .portfolio-overlay p { bottom: 11%; }
 .portfolio-item .portfolio-overlay span a { font-size: 13px; }
 .portfolio-item .portfolio-overlay a { width: 30px; height: 30px; font-size: 14px; line-height: 30px; margin-left: 6px; }
 .portfolio-item .portfolio-overlay a.link { display: none; }
 
}

@media (max-width: 1272px) {
.our-portfolio .portfolio-info h3 { font-size: 20px; }
.owl-carousel-2 .owl-nav .owl-prev { left: 36%; }
.portfolio-item .portfolio-overlay span a { font-size: 12px; }
.portfolio-item:hover img { transform: translate3d(0px, -62px, 0px); -webkit-transform: translate3d(0px, -62px, 0px); -o-transform: translate3d(0px, -62px, 0px); -ms-transform: translate3d(0px, -62px, 0px); -moz-transform: translate3d(0px, -62px, 0px); }
.slider-fade-carousel .slider-contents h1 { line-height: 70px; }
.news-letter .section-field input { width: 70%; }

}

@media (max-width: 1025px) {
 /*our portfolio*/
.portfolio-item .portfolio-overlay a { width: 20px; height: 20px; font-size: 10px; line-height: 20px; margin-left: 6px; }
.portfolio-item .portfolio-overlay i { padding-left: 0; }
.portfolio-item:hover img { transform: translate3d(0px, -55px, 0px); -webkit-transform: translate3d(0px, -55px, 0px); -o-transform: translate3d(0px, -55px, 0px); -ms-transform: translate3d(0px, -55px, 0px); -moz-transform: translate3d(0px, -55px, 0px); }

} 

@media only screen and (min-width: 768px) and (max-width: 999px) {
 .container{ width:96%; } 

}

@media( max-width:992px) {
  h3 { font-size: 22px; }
/*home-1*/
.header { padding: 0px; position: relative; background: #000; }
/*Menu*/
.navbar-brand img { height: 40px; }
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0px; }
 #menu { padding: 0px; }
.navbar { margin-bottom: 0px; }
 #menu.sticky { padding: 0px !important;  }
 #menu.sticky.navbar-default .navbar-nav li a { line-height: 30px; }
.navbar-collapse.pull-right { float: none !important; }
.navbar-header {float: none; padding:10px 0;}
.navbar-left,.navbar-right { float: none !important; }
.navbar-toggle { display: block; margin-right: 0; margin-top: 3px; margin-bottom: 0; padding: 8px 0px; }
.navbar-collapse { border-top: 1px solid transparent; box-shadow: none; }
.navbar-collapse.collapse { display: none!important; width: 100%; }
.navbar-nav li { float: none;}
.navbar-nav li a {padding-top: 10px; padding-bottom: 10px; padding-left: 0px; }
.collapse.in { display:block !important; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border: none; }
.navbar { min-height: 60px; padding: 10px 0; }
.navbar-toggle .icon-bar { height: 3px; width: 30px; }
.navbar-custom { border-bottom: none; background-color: #191919; }
.navbar-header .logo { padding: 0px 0; }
.navbar-right { float: none !important; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: transparent; }
.navbar-default .navbar-toggle { border: none; }
.navbar-default .navbar-toggle .icon-bar { background-color: #00a9da; }
.navbar-default .navbar-toggle:hover>.icon-bar { background-color: #00a9da; }
/*slider*/
.slider-fade-carousel { height: inherit; overflow: inherit; }
.slider-fade-carousel .owl-carousel .owl-item img { width: 100%; }
.slider-fade-carousel .slider-contents.slide-1 h1 { font-size: 38px; line-height: 50px; }
.slider-fade-carousel .slider-contents.slide-2 h1 { font-size: 38px; line-height: 50px; }
.slider-fade-carousel .slider-contents.slide-3 h1 { font-size: 38px; line-height: 50px; }
/*our-portfolio*/
.our-portfolio .portfolio-info { display: none; } 
.portfolio-item .portfolio-overlay span a { width: inherit; background: inherit; height: inherit; font-size: 15px; color: #fff; float: left; display: inline-block; text-align: left; }
.portfolio-item .portfolio-overlay span a:hover { background: none; color: #00a9da; }
.portfolio-item .portfolio-overlay a {  background: #fff; border-radius: 50%; color: #363636; display: inline-block; font-size: 15px; height: 35px; width: 35px; line-height: 36px; text-align: center; margin-left: 10px; float: right; }
.portfolio-item .portfolio-overlay i { padding-left: 2px; }
.portfolio-item .portfolio-overlay a:hover { background: #00a9da; color: #fff; }
.portfolio-item .portfolio-overlay p { text-transform: none; font-size: 16px; opacity: 0; color: #fff; padding: 0 20px; margin: 0; display: inline-block; left: 0;
    position: absolute; text-align: center; bottom: 8%; transform: translateY(-50%); width: 100%; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: translate3d(0,22px,0); transform: translate3d(0,22px,0); }
.portfolio-item:hover img { -webkit-transform: translate3d(0,-80px,0); -moz-transform: translate3d(0,-70px,0); -ms-transform: translate3d(0,-70px,0); -o-transform: translate3d(0,-70px,0); transform: translate3d(0,-70px,0); }
.portfolio-item:hover .portfolio-overlay p { opacity: 1; -webkit-transform: translate3d(0,0,0); -o-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
.portfolio-item .portfolio-overlay p { bottom: 16px;}
/*owl-carousel-2*/
.owl-carousel-2 .owl-nav .owl-next { background: #323232; right: 50%;}
.owl-carousel-2 .owl-nav .owl-prev { background: #323232; left: 50.5%;}
.owl-carousel-2 .owl-nav i:hover { color: #00a9da; }
.custom-content-image { display: none; }
.custom-content { margin-bottom: 60px; }
.team .team-box { margin-bottom: 30px; }
.entry-title h4 { font-size: 18px; }
.entry-title i { font-size: 20px; }

}

@media( max-width:767px) {
h1 { font-size: 30px; }
h2 { font-size: 26px; }
.page-section-ptb { padding: 50px 0; }
.page-section-pt { padding: 50px 0 0; }
.page-section-pb { padding: 0 0 50px; }
.section-title { margin-bottom: 40px; }
.section-title p { font-size: 16px; }
.section-title .title-line:before { width: 180px; }
.team .team-box img { width: 100%; }
.blog .blog-entry  { margin-bottom: 30px; }
.feature-2 { margin-bottom: 30px; }
}

@media( max-width:600px) {
h3 { font-size: 22px; }
.section-title-2 p { font-size: 16px; }
.section-title-2 { margin-bottom: 40px; } 
.slider-contents p { display: none;}
.slider-contents a.button { display: none;}
.slider-fade-carousel .slider-contents.slide-1 h1 { line-height: 50px; }
.slider-fade-carousel .slider-contents.slide-2 h1 { line-height: 50px; }
.slider-fade-carousel .slider-contents.slide-3 h1 { line-height: 50px; }
.contact-form .section-field { width: 100%; }

}

@media( max-width:479px) { 
.logo { display: table; } 
/*slider*/
.slider-fade-carousel .slider-contents.slide-1 h1 { line-height: 30px; font-size: 20px; }
.slider-fade-carousel .slider-contents.slide-2 h1 { line-height: 30px; font-size: 20px; }
.slider-fade-carousel .slider-contents.slide-3 h1 { line-height: 30px; font-size: 20px; }
.creativity h1 { font-size: 30px;  line-height: 40px; }
.creativity .button.mt-50 { margin-top: 20px !important; }
.news-letter .section-field input { width: 100%; }
.news-letter a.button-border.pull-right { float: none !important; }
.news-letter a.button-border span { width: 100%; display: block; float: none !important; text-align: center; margin-top: 10px; }
.news-letter a.button-border span:hover { box-shadow: -400px 0 0 #00a9da inset; }
 
}   

@media (max-width: 1240px) { .boxed-layout .page-wrapper { width: inherit; } }
@media (max-width: 1199px) { .boxed-layout .page-wrapper #menu.sticky { width:100%; } }
@media (max-width: 992px) { .boxed-layout .page-wrapper #menu.sticky { width: 100%; } }