<!DOCTYPE root[<!ELEMENT initDoctype ANY>
<!ATTLIST initDoctype id ID #REQUIRED>
]>
<root id="-1">
  <initDoctype id="1056" key="2f6510a3-2855-41ca-a25f-58919c2963fe" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-10-03T10:37:39" updateDate="2017-10-03T10:38:21" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="initDoctype">
    <testTextBox><![CDATA[check]]></testTextBox>
  </initDoctype>
</root>