<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="The Corps — Multi-Purpose HTML Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>The Corps — Responsive Multi-purpose HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- plugins -->
<link href="css/plugins-css.css" rel="stylesheet" type="text/css" />

 <!-- default -->
<link href="css/default.css" rel="stylesheet" type="text/css" />

<!-- main style -->
<link href="css/style.css" rel="stylesheet" type="text/css" />

<!-- responsive -->
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<!-- custom style -->
<link href="css/custom.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="page-wrapper">

<!--=================================
 preloader -->
 
<div id="preloader">
  <div class="clear-loading loading-effect"> <span></span> </div>
</div>

<!--=================================
 preloader -->


<div class="coming-soon-2">
 <div class="bg-11 bg-opacity-black-70"> 

<!--=================================
header -->

 <header id="header" class="header clearfix">
  <div class="logo">
     <a href="home-1-default.html"><img id="logo_img" class="img-responsive center-block" src="images/logo.png" alt=""></a>
  </div>
 </header>

<!--=================================
header -->


<!--=================================
 Coming Soon-->

<section class="coming-soon-main maintenance-progress-bar page-section-ptb clearfix">
  <div class="container">
    <div class="row">
       <div class="col-lg-12 col-md-12">
          <div class="text-center">
              <i class="fa fa-clock-o"></i>
              <h1 class="text-blue">We are Coming soon</h1>
              <p class="text-white">We are currently working on a website and won't take long. Don't forget to check out our Social updates.</p>
          </div>
          <div class="coming-soon-countdown countdown">
            <ul class="countdown">
              <li> <span class="days">00</span>
              <p class="days_ref">days</p>
              </li>
              <li> <span class="hours">00</span>
              <p class="hours_ref">hours</p>
              </li>
              <li> <span class="minutes">00</span>
              <p class="minutes_ref">minutes</p>
              </li>
              <li> <span class="seconds">00</span>
              <p class="seconds_ref">seconds</p>
              </li>
              </ul>
          </div>
           <div class="coming-soon-form text-center">
           <p class="text-white">Provide your email address & we will notify you when site is ready:</p>
           <input   type="text" required="" placeholder="Email address" name="email">
           <a class="button-border pull-right" href="#"><span> Notify Me </span></a>
         </div> 
      </div>
    </div>
   </div>
 </section>
 
<!--=================================
 Coming Soon-->
 
   </div>
  </div>
 </div>
 
<!--=================================
 jquery -->

<!-- jquery  -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- plugins-jquery -->
<script type="text/javascript" src="js/plugins-jquery.js"></script>

<!-- appear -->
<script src="js/jquery.appear.js"></script>

<!-- mega menu -->
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script>
 
<!-- countdown -->
<script src="js/countdown/jquery.downCount.js"></script>

<!-- progressbar -->
<script type="text/javascript" src="js/skills-graph/jQuery-plugin-progressbar.js"></script>

<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>
 
</body>
</html>
