  <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="The Corps — Multi-Purpose HTML Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>The Corps — Responsive Multi-purpose HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- plugins -->
<link href="css/plugins-css.css" rel="stylesheet" type="text/css" />

<!-- mega menu -->
<link href="css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />

 <!-- default -->
<link href="css/default.css" rel="stylesheet" type="text/css" />

<!-- main style -->
<link href="css/style.css" rel="stylesheet" type="text/css" />

<!-- responsive -->
<link href="css/responsive.css" rel="stylesheet" type="text/css" />
    
<!-- custom style -->
<link href="css/custom.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="page-wrapper over-inherit">

<!--=================================
 preloader -->
 
<div id="preloader">
  <div class="clear-loading loading-effect"> <span></span> </div>
</div>

<!--=================================
 preloader -->
 
 
<!--=================================
 header -->

<header id="header" class="header-4">
   <div id="menu-toggle">
      <div id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
       </div>
      </div>
   <div id="menu">
    <div class="menu-side-top">
         <h3 class="text-white">Custom menu</h3>
          <a href="#">Home</a>
          <a href="#">About us</a>
          <a href="#">Portfolio</a>
          <a href="#">Blog</a>
          <a href="#">Contact us</a>
         </div>
         <div class="login-side mt-40 text-left">
          <h3 class="text-white">Login</h3>
           <form>  
             <div class="form-group">     
              <label>Username</label>
               <input type="text" name="username" placeholder="Email Address" />
                </div>
                <div class="form-group">
                 <label>Password</label>
                <input type="password" name="password" placeholder="Password" />      
               </div>
               <div class="remember-checkbox">
                 <input type="checkbox" name="one" id="one" />
               <label class="remember" for="one">Remember me</label>
               </div>
               <div class="clearfix">
               <a href="#" class="button button-white mt-20">
                  <span>Login</span>
                </a>
               <a class="forgot" href="#">Forgot password ?</a> 
              </div>
           <p class="register text-white mt-20">Don't have account?  <a href="#"> Register Now</a></p> 
         </form>
      </div>
  </div>
 
<!--=================================
 mega menu -->

 <div class="menu">  
    <!-- menu start -->
    <nav id="menu-1" class="mega-menu">
     <!-- menu list items container -->
      <section class="menu-list-items">
       <div class="container"> 
        <div class="row"> 
         <div class="col-lg-12 col-md-12">
        <!-- menu logo -->
        <ul class="menu-logo">
            <li>
                <a href="home-1-default.html"><img id="logo_img" src="images/logo.png" alt="logo"> </a>
            </li>
        </ul>
        <!-- menu links -->
        <ul class="menu-links">
            <!-- active class -->
            <li class="active"><a href="javascript:void(0)"> Home <i class="fa fa-angle-down fa-indicator"></i></a>
                <div class="drop-down grid-col-8 offset-4">
                <!--grid row-->
                 <div class="grid-row">
                   <!--grid column 3-->
                    <div class="grid-col-4">
                     <ul>
                        <li><a href="home-1-default.html">Home 1 - Default <span class="label label-danger ml-10">Hot</span></a></li>
                        <li><a href="home-2-rain.html">Home 2 - Rain</a></li> 
                        <li><a href="home-3-corporate.html">Home 3 - Corporate</a></li>
                        <li class="active"><a href="home-4-corporate.html">Home 4 - Corporate</a></li>
                        <li><a href="home-5-creative.html">Home 5 - Creative</a></li>
                     </ul>
                    </div>
                    <div class="grid-col-4">
                     <ul>
                        <li><a href="home-6-business.html">Home 6 - Business <span class="label label-info ml-10">New</span> </a></li>
                        <li><a href="home-7-classic.html">Home 7 - Classic <span class="label label-primary ml-10">New</span></a></li> 
                        <li><a href="home-8-agency.html">Home 8 - Agency <span class="label label-success ml-10">New</span></a></li>
                        <li><a href="home-9-personal.html">Home 9 - Personal <span class="label label-warning ml-10">New</span></a></li>
                        <li><a href="home-10-parallax.html">Home 10 - Parallax <span class="label label-default ml-10">New</span></a></li>
                     </ul>
                    </div>
                    <div class="grid-col-4">
                     <ul>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-1-default/index.html">One page 1 - Default </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-2-rain/index.html">One page 2 - Rain </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-3-corporate/index.html">One page 3 - Corporate </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-4-corporate/index.html">One page 4 - Corporate </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-5-creative/index.html">One page 5 - Creative </a></li>
                     </ul>
                    </div>
                   </div>
                  </div>
              </li>
            <li><a href="javascript:void(0)">Pages <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down full width -->
                <div class="drop-down menu-bg grid-col-12">
                    <!--grid row-->
                    <div class="grid-row">
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="about-1.html">About 1</a></li>
                              <li><a href="about-2.html">About 2</a></li>
                              <li><a href="about-3.html">About 3</a></li>
                              <li><a href="about-me.html">About me</a></li>
                              <li><a href="service-1.html">service 1 </a></li>
                              <li><a href="service-2.html">service 2 </a></li>
                              <li><a href="service-3.html">service 3 </a></li>
                              <li><a href="team-1.html">team 1 </a></li>
                              <li><a href="team-2.html">team 2 </a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="team-single.html">team single </a></li>
                              <li><a href="contact-1.html">contact 1 </a></li>
                              <li><a href="contact-2.html">contact 2 </a></li>
                              <li><a href="contact-3.html">contact 3 </a></li>
                              <li><a href="faqs-1.html">faqs 1 </a></li>
                              <li><a href="faqs-2.html">faqs 2 </a></li>
                              <li><a href="our-clients-1.html">our clients 1 </a></li>
                              <li><a href="our-clients-2.html">our clients 2 </a></li>
                              <li><a href="careers.html">careers </a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="maintenance-1.html">maintenance 1 </a></li>
                              <li><a href="maintenance-2.html">maintenance 2 </a></li>
                              <li><a href="login-1.html">login 1 </a></li>
                              <li><a href="login-2.html">login 2 </a></li>
                              <li><a href="register-1.html">register 1 </a></li>
                              <li><a href="register-2.html">register 2 </a></li>
                              <li><a href="error-404-1.html">error 404 1 </a></li>
                              <li><a href="error-404-2.html">error 404 2 </a></li>
                              <li><a href="coming-soon-1.html">coming soon 1 </a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="coming-soon-2.html">coming soon 2 </a></li>
                              <li><a href="page-left-sidebar.html">page left sidebar </a></li>
                              <li><a href="page-right-sidebar.html">page right sidebar </a></li>
                              <li><a href="page-two-sidebar.html">page two sidebar </a></li>
                              <li><a href="sitemap.html">sitemap </a></li>
                              <li><a href="terms-and-conditions.html">terms and conditions </a></li>
                              <li><a href="privacy-policy.html">privacy policy </a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </li>
            <li><a href="javascript:void(0)">blog <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                    <li><a href="javascript:void(0)">blog classic <i class="fa fa-angle-right fa-indicator"></i> </a>

                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                           <li><a href="blog-classic-left-sidebar.html">left sidebar</a></li>
                           <li><a href="blog-classic-right-sidebar.html">right sidebar</a></li>
                           <li><a href="blog-classic-fullwidth.html">fullwidth</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">grid <i class="fa fa-angle-right fa-indicator"></i> </a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-grid-2-column.html"> 2 column </a> </li>
                            <li><a href="blog-grid-3-column.html"> 3 column </a> </li>
                            <li><a href="blog-grid-2-column-left-sidebar.html">left sidebar</a></li>
                            <li><a href="blog-grid-2-column-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="javascript:void(0)">Masonry  <i class="fa fa-angle-right fa-indicator"></i> </a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-masonry-2-columns.html"> 2 column </a> </li>
                            <li><a href="blog-masonry-3-columns.html"> 3 column </a> </li>
                            <li><a href="blog-masonry-2-columns-left-sidebar.html">left sidebar</a></li>
                           <li><a href="blog-masonry-2-columns-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="#">timeline  <i class="fa fa-angle-right fa-indicator"></i></a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                          <li><a href="blog-timeline.html">fullwidth</a></li>
                          <li><a href="blog-timeline-left-sidebar.html">left sidebar</a></li>
                          <li><a href="blog-timeline-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="#">single post  <i class="fa fa-angle-right fa-indicator"></i></a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-single-image-post.html"> blog image post </a> </li>
                            <li><a href="blog-single-video-post.html"> blog video post </a> </li>
                            <li><a href="blog-single-youtube-post.html"> blog youtube post </a> </li>
                            <li><a href="blog-single-vimeo-post.html"> blog vimeo post </a> </li>
                            <li><a href="blog-single-audio-post.html"> blog audio post  </a> </li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Portfolio<i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel left-side">
                    
                    <li><a href="#">portfolio classic <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side">
                            <li><a href="javascript:void(0)"> 1 column  <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-classic-1-column-default.html">default</a></li>
                                    <li><a href="portfolio-classic-1-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-1-columns-right-sidebar.html">right sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"> 2 column  <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-classic-2-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-2-columns-right-sidebar.html">right sidebar</a></li>
                                    <li><a href="portfolio-classic-2-columns-fullwidth.html">fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"> 3 column  <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-classic-3-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-3-columns-right-sidebar.html">right sidebar</a></li>
                                    <li><a href="portfolio-classic-3-columns-fullwidth.html">fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"> 4 column <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-classic-4-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-4-columns-right-sidebar.html">right sidebar</a></li>
                                    <li><a href="portfolio-classic-4-columns-fullwidth.html">fullwidth</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">portfolio Masonry <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side">
                            <li><a href="portfolio-masonry-2-columns.html"> 2 column </a> </li>
                            <li><a href="portfolio-masonry-3-columns.html"> 3 column </a> </li>
                            <li><a href="portfolio-masonry-4-columns.html"> 4 column </a> </li>
                            <li><a href="portfolio-masonry-full-screen.html"> full screen </a> </li>
                        </ul> 
                    </li>
                    <li><a href="#">portfolio grid <i class="fa fa-angle-left fa-indicator"></i></a>
                      <ul class="drop-down-multilevel left-side">
                            <li><a href="javascript:void(0)"> grid <i class="fa fa-angle-left fa-indicator"></i></a>  
                               <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-grid-2-columns.html">2 column</a></li>
                                    <li><a href="portfolio-grid-3-columns.html">3 column</a></li>
                                    <li><a href="portfolio-grid-4-columns.html">4 column</a></li>
                                </ul>
                              </li>
                            <li><a href="javascript:void(0)"> grid full screen <i class="fa fa-angle-left fa-indicator"></i></a> 
                               <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-grid-full-screen-2-columns.html">2 column</a></li>
                                    <li><a href="portfolio-grid-full-screen-3-columns.html">3 column</a></li>
                                    <li><a href="portfolio-grid-full-screen-4-columns.html">4 column</a></li>
                                    <li><a href="portfolio-grid-full-screen-5-columns.html">5 column</a></li>
                                </ul>
                            </li>
                       </ul>
                    </li>
                    <li><a href="#">portfolio Packery <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side">
                            <li><a href="portfolio-packetry.html"> packetry fullwidth </a> </li>
                            <li><a href="portfolio-packetry-fullwidth.html"> full screen </a> </li>
                         </ul>
                    </li>
                    <li><a href="#">portfolio single <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side">
                            <li><a href="portfolio-single-1.html"> single 01 </a> </li>
                            <li><a href="portfolio-single-2.html"> single 02 </a> </li>
                         </ul>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"> Shortcodes <i class="fa fa-angle-down fa-indicator"></i></a>
              <!-- drop down full width -->
                <div class="drop-down grid-col-12">
                    <!--grid row-->
                    <div class="grid-row">
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-accordions.html"><i class="fa fa-list-ul"></i> accordions </a></li>
                              <li><a href="elements-action-box.html"><i class="fa fa-rocket"></i> action box</a></li>
                              <li><a href="elements-alerts-and-callouts.html"><i class="fa fa-info-circle"></i> alerts and callouts</a></li>
                              <li><a href="elements-buttons.html"><i class="fa fa-external-link"></i> buttons</a></li>
                              <li><a href="elements-carousel-slider.html"><i class="fa fa-exchange"></i> carousel slider</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-columns.html"><i class="fa fa-th"></i> columns</a></li>
                              <li><a href="elements-content-box.html"><i class="fa fa-file-text-o"></i> content box</a></li>
                              <li><a href="elements-counter.html"><i class="fa fa-sort-numeric-asc"></i> counter</a></li>
                              <li><a href="elements-data-table.html"><i class="fa fa-table"></i> data table</a></li>
                              <li><a href="elements-lists-style.html"><i class="fa fa-th-list"></i> lists style</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-post-style.html"> <i class="fa fa-photo"></i> post style</a></li>
                              <li><a href="elements-pricing-tables.html"><i class="fa fa-money"></i> pricing tables</a></li>
                              <li><a href="elements-skills.html"><i class="fa fa-tasks"></i> skills</a></li>
                              <li><a href="elements-social-icon.html"><i class="fa fa-share-alt"></i> social icon</a></li>
                              <li><a href="elements-social-widget-gallery.html"><i class="fa fa-bullhorn"></i> social widget gallery</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-tabs.html"><i class="fa fa-star"></i> tabs</a></li>
                              <li><a href="elements-team.html"><i class="fa fa-users"></i> team</a></li>
                              <li><a href="elements-typography.html"><i class="fa fa-italic"></i> typography</a></li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </li>
            <li><a href="javascript:void(0)"> Contact <i class="fa fa-angle-down fa-indicator"></i></a>
                 <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel right-menu">
                    <li><a href="contact-1.html">Contact 1</a></li>
                    <li><a href="contact-2.html">Contact 2</a></li>
                    <li><a href="contact-3.html">Contact 3</a></li>
                </ul>
            </li>
            <li>
              <div class="search-3">
                      <a class="search-btn not_click" href="javascript:void(0);">Search Button</a>
                        <div class="search-3-box not-click">
                           <input type="text" class="not-click" placeholder="Search" value="" name="s">
                         <i class="fa fa-search"></i>
                     </div>
                </div>
            </li>
           </ul>
             </div>
            </div>
           </div>
        </section>
      </nav>
    <!-- menu end -->
  </div>
</header>

<!--=================================
 header -->

 
<!--=================================
 banner -->

<section class="slider-fade-carousel">
   <div class="owl-carousel-1">
      <div class="item bg-opacity-black-50">
         <img src="images/slider/slider-06.jpg" alt="">
            <div class="slider-contents container slide-1 text-center">
              <h1 class="text-white">If you can dream it, you can do it</h1>
              <p class="text-white">We are a creative company, who works with passion and love. We provide the best services you need. We help you to get better...</p>
              <a href='#' class='button'><span>View Our work</span> <i class="fa fa-hand-o-right"></i></a>
              <a href='#' class='button button-white'><span>Discover more</span> <i class="fa fa-eye"></i></a>
            </div>  
       </div>
      <div class="item bg-opacity-black-50">
         <img src="images/slider/slider-07.jpg" alt="">
            <div class="slider-contents container slide-2 text-center">
              <h1 class="text-white">It's easy when you're doing something you love</h1>
              <p class="text-white">The Corps is a bootstrap based responsive, flat and affordable template with easy customization and great support</p>
              <a href='#' class='button'><span>View Our work</span> <i class="fa fa-hand-o-right"></i></a>
              <a href='#' class='button button-white'><span>Discover more</span> <i class="fa fa-eye"></i></a> 
            </div>  
      </div>
      <div class="item bg-opacity-black-50">
      <img src="images/slider/slider-08.jpg" alt="">
        <div class="slider-contents container slide-3 text-center">
              <h1 class="slider-title text-white">Unlimited possibilities & unique pages</h1>
              <p class="text-white">You can start to build your website. Use The Corps Responsive HTML5 Template and design your layout</p>
              <a href='#' class='button'><span>View Our work</span> <i class="fa fa-hand-o-right"></i></a>
              <a href='#' class='button button-white'><span>Discover more</span> <i class="fa fa-eye"></i></a>
            </div>  
       </div>
    </div>
</section>  

<!--=================================
 banner -->
 
 
 <!--=================================
custom-content -->

<section class="custom-content-3 hello-content white-bg">
  <div class="container">
     <div class="row">
        <div class="col-lg-7 col-md-7">
          <div class="page-section-pt">
           <span>Hello, i’m</span>
           <h2 class="text-blue">- Felicity Queen</h2>
           <strong class="mb-50">I work for every kind of customer's requirement.</strong>
           <div class="custom-content-3-info pull-left">
             <i class="fa fa-quote-right"></i>
             <p>I am consectetur adipisicing elit. At molestiae debitis quaerat nesciunt, aliquam perferendis ab! Ut, nulla, illo. Fugit rerum, nisi quo nam iste labore? Libero possimus excepturi, labore! At molestiae debitis quaerat nesciunt, aliquam perferendis ab! Ut. Fugit rerum, nisi quo nam iste labore? Libero possimus.</p>
             <img class="signature pull-right" src="images/signature.png" alt="">
           </div> 
           <div class="row">
             <div class="col-lg-6 col-md-6">
               <div class="feature-8 clearfix mt-30">
                <div class="feature-8-title">
                  <span class="icon-layers" aria-hidden="true"></span>
                </div>
                <div class="feature-8-info">
                  <h4 class="text-back">Professional Design</h4>
                  <p class="textjustify">Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam</p>
                </div>
              </div>
             </div>
             <div class="col-lg-6 col-md-6">
               <div class="feature-8 clearfix mt-30">
                <div class="feature-8-title">
                  <span class="icon-picture" aria-hidden="true"></span>
                </div>
                <div class="feature-8-info">
                  <h4 class="text-back">Revolution Slider</h4>
                  <p class="textjustify">Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam </p>
                </div>
              </div>
             </div>
           </div>
         </div>
        </div>
        <div class="col-lg-5 col-md-5">
         <div class="custom-content-3-image mt-15">
           <img src="images/device/women-2.jpg" alt="">
         </div>
        </div>
     </div>
  </div>
</section> 

<!--=================================
custom-content -->


<!--=================================
 creativity -->

<section class="bg-4 bg-opacity-black-80 creativity page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center"> 
        <h1 class="text-white">See what others don't see <br/>Then show it to them</h1>
        <p class="text-white mt-30 mb-0">That is creativity </p>
        <a class="button mt-50" target="blank" href="http://themeforest.net/item/the-corps-multipurpose-html5-template/15623522">
            <span>Purchase Now</span>
            <i class="fa fa-download"></i>
         </a>
        <a class="button button-white mt-50" href="#">
          <span>Discover more</span>
          <i class="fa fa-eye"></i>
       </a>
      </div>
    </div>
  </div>
</section>

<!--=================================
 creativity -->


 <!--=================================
 our-clients -->

<section class="happy-clients white-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title-2 text-center">
          <h1 class="text-blue">Our Happy Clients</h1>
          <div class="title-line"></div>
          <p>What Our Happy Clients say about us</p>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-lg-12 col-md-12">
         <div id="tabs">
             <div id="tab1" class="tabcontent"> 
                  <p>" I would like to express my thanks and appreciation to you for understanding the subject matter and for your excellent writing. Good job and well done. I look forward to working with you in our next project Quae ratione, in ipsa.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos ”</p>
              </div>
              <div id="tab2" class="tabcontent"> 
                  <p>" We are very pleased with your service and the professional way all our queries and problems have been handled. I certainly would not hesitate to recommend your organisation to other people I come into contact with. Quae ratione, in ipsa.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos ”</p>
              </div>
              <div id="tab3" class="tabcontent"> 
                  <p>" Our old site was very information-heavy; the Corps helped to capture and simplify the message we wanted to get across. It’s now more precise, easy to use and looks great! quos magnam cupiditate pariatur? Quae ratione, in ipsa.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra. ”</p>
              </div>
              <div id="tab4" class="tabcontent"> 
                  <p>" We are very pleased with your service and the professional way all our queries and problems have been handled. I certainly would not hesitate to recommend your organisation to other people I come into contact with. Quae ratione, in ipsa.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos. ”</p>
              </div>
              <div id="tab5" class="tabcontent"> 
                  <p>" I would like to express my thanks and appreciation to you for understanding the subject matter and for your excellent writing. Good job and well done. I look forward to working with you in our next project Quae ratione, in ipsa.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos. ”</p>
              </div>
              <div id="tab6" class="tabcontent"> 
                  <p>" Our old site was very information-heavy; the Corps helped to capture and simplify the message we wanted to get across. It’s now more precise, easy to use and looks great! quos magnam cupiditate pariatur? Quae ratione, in ipsa.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos. ”</p>
              </div>
              <ul class="tabs">
                 <li data-tabs="tab1" class="animated-arrow active"> <img class="img-responsive" src="images/clients/01.png" alt=""></li>
                 <li data-tabs="tab2" class="animated-arrow"> <img class="img-responsive" src="images/clients/02.png" alt=""></li>
                 <li data-tabs="tab3" class="animated-arrow"> <img class="img-responsive" src="images/clients/03.png" alt=""></li>
                 <li data-tabs="tab4" class="animated-arrow"> <img class="img-responsive" src="images/clients/04.png" alt=""></li>
                 <li data-tabs="tab5" class="animated-arrow"> <img class="img-responsive" src="images/clients/05.png" alt=""></li>
                 <li data-tabs="tab6" class="animated-arrow"> <img class="img-responsive" src="images/clients/02.png" alt=""></li>
                </ul>
          </div>
      </div>
    </div>
  </div>
</section>

 <!--=================================
 our-clients -->


<!--=================================
 video-background -->
 
<div id="video-background" class="video-content bg-opacity-black-30" style="width: 100%;" data-vide-bg="mp4: video/video-1, webm: video/video-1, ogv: video/video-1, poster: video/video-1" data-vide-options="position: 0% 50%">
 <div class="video-bg bg-opacity-black-50 page-section-pt">
  <div class="container">
    <div class="row">
       <div class="section-title-2 text-center">
          <h1 class="text-white">Video Background</h1>
          <div class="title-line-2"></div>
          <p class="text-white mt-20 mb-30">Beautiful HTML5 Video background</p>
          <a target="blank" href="http://themeforest.net/item/the-corps-multipurpose-html5-template/15623522" class="button-border-white">
            <span>Purchase Now</span>
         </a>
        </div>
     </div>
    </div>
   </div>
</div>

<!--=================================
 video-background -->


 <!--=================================
 owl-custom -->

<section class="owl-custom white-bg page-section-ptb">
  <div class="container">
    <div class="row">
     <div class="owl-carousel-12">
      <div class="item">
      <div class="col-lg-6 col-md-6">
        <img class="img-responsive" src="images/device/device-3.png" alt="">
      </div>
      <div class="col-lg-6 col-md-6">
       <div class="custom-content">
         <h2 class="text-blue mb-20">Easy To Use Templates</h2>
         
         <p>There are lots of reasons, but most importantly because. lorem ipsum dolor sit amet, consectetur adipisicing elit. At molestiae debitis quaerat nesciunt, aliquam perferendis ab! Ut, nulla, illo. Fugit rerum, nisi quo nam.</p>
          <ul class="mt-20">
            <li><i class="fa fa-hand-o-right"></i> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, </li>
            <li><i class="fa fa-hand-o-right"></i> lorem quis bibendum auctor, nisi elit consequat ipsum, </li>
            <li><i class="fa fa-hand-o-right"></i> nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate  </li>
            <li><i class="fa fa-hand-o-right"></i> cursus a sit amet mauris. Morbi accumsan ipsum velit. </li>
            <li><i class="fa fa-hand-o-right"></i> cursus a sit amet mauris. Morbi accumsan ipsum velit. </li>
          </ul>
         </div>
        </div>
     </div>
     <div class="item">
      <div class="col-lg-6 col-md-6">
       <div class="custom-content">
         <h2 class="text-blue mb-30">Clean & Simple Code! </h2>
         <p>There are lots of reasons, but most importantly because. lorem ipsum dolor sit amet, consectetur adipisicing elit. At molestiae debitis quaerat nesciunt, aliquam perferendis ab! Ut, nulla, illo. Fugit rerum, nisi quo nam.</p>
           <div class="feature-8 mt-30">
            <div class="feature-8-title">
             <span aria-hidden="true" class="icon-equalizer"></span>
            </div> 
            <div class="feature-8-info">
              <h4 class="text-back">Built with HTML5 and css3</h4>
              <p>Dolor sit amet, consectetur conseqt quibusdam,  incidunt Vero quod conseqt quibusdam, enim expedita sed quia nesciunt incidunt</p>
            </div>
         </div>
         <div class="feature-8 mt-30">
            <div class="feature-8-title">
             <span class="icon-picture" aria-hidden="true"></span>
            </div>
            <div class="feature-8-info">
              <h4 class="text-back">Revolution Slider</h4>
              <p>Dolor sit amet, consectetur conseqt quibusdam,  incidunt Vero quod conseqt quibusdam, enim expedita sed quia nesciunt incidunt</p>
            </div>
         </div>
         </div>
        </div>
        <div class="col-lg-6 col-md-6">
        <img class="img-responsive" src="images/device/device-2.png" alt="">
      </div>
     </div>
     <div class="item">
      <div class="col-lg-6 col-md-6">
        <img class="img-responsive center-block pt-60" src="images/device/device.png" alt="">
      </div>
      <div class="col-lg-6 col-md-6">
       <div class="custom-content">
         <h2 class="text-blue mb-30">Unlimited Options</h2>
         <p>There are lots of reasons, but most importantly because. lorem ipsum dolor sit amet, consectetur adipisicing elit. At molestiae debitis quaerat nesciunt, aliquam perferendis ab! Ut, nulla, illo. Fugit rerum, nisi quo nam.</p>
          <ul class="mt-20 mb-20">
            <li><i class="fa fa-hand-o-right"></i> Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, </li>
            <li><i class="fa fa-hand-o-right"></i> lorem quis bibendum auctor, nisi elit consequat ipsum, </li>
            <li><i class="fa fa-hand-o-right"></i> lorem quis bibendum auctor, nisi elit consequat ipsum, </li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At molestiae debitis quaerat nesciunt, aliquam perferendis ab! Ut, nulla, illo. Fugit rerum, nisi quo nam iste labore? Libero possimus excepturi, labore! At molestiae debitis quaerat nesciunt, aliquam perferendis ab! Ut.</p>
         </div>
        </div>
      </div>
      </div>
    </div>
   </div>
  </section>

<!--=================================
 owl-custom -->


<!--=================================
blog -->

<section class="our-blog hover-direction white-bg">
  <div class="container-fluid">
     <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="blog-box-info">
             <h1 class="text-white">Our Latest Blog Post</h1>
             <span class="text-white"> Read what we say in our blog</span>
             <p class="text-white pt-30 pb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At molestiae debitis quaerat nesciunt, aliquam perferendis ab! Ut, nulla, illo. Fugit rerum, nisi quo nam iste labore? Libero. </p>
             <a href="#" class="button button-white">
                <span>View all post</span>
                <i class="fa fa-hand-o-right"></i>
             </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="blog-box-image">
            <div class="portfolio-item">
                 <img class="img-responsive" src="images/portfolio/medium/06.jpg" alt="">
                 <div class="portfolio-caption text-right">
                   <a href="#">Lorem ipsum dolor sit </a>
                    <ul class="port-tag">
                      <li><a href="#"><i class="fa fa-user"></i> By The Corps</a></li>
                      <li><a href="#"><i class="fa fa-comments-o"></i> 5 Comments</a></li>
                      <li><a href="#"><i class="fa fa-folder-open"></i> Business</a></li>
                   </ul>
                  <a href="#" class="button-border">
                    <span>Read view</span>
                  </a>
               </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="blog-box-image">
            <div class="portfolio-item">
                 <img class="img-responsive" src="images/portfolio/medium/17.jpg" alt="">
                 <div class="portfolio-caption text-right">
                   <a href="#">Lorem ipsum dolor sit </a>
                    <ul class="port-tag">
                      <li><a href="#"><i class="fa fa-user"></i> By The Corps</a></li>
                      <li><a href="#"><i class="fa fa-comments-o"></i> 5 Comments</a></li>
                      <li><a href="#"><i class="fa fa-folder-open"></i> Business</a></li>
                   </ul>
                  <a href="#" class="button-border">
                    <span>Read view</span>
                  </a>
               </div>
            </div>
        </div>
      </div>
     </div>
     <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="blog-box-image">
            <div class="portfolio-item">
                 <img class="img-responsive" src="images/portfolio/medium/10.jpg" alt="">
                 <div class="portfolio-caption text-right">
                   <a href="#">Lorem ipsum dolor sit </a>
                    <ul class="port-tag">
                      <li><a href="#"><i class="fa fa-user"></i> By The Corps</a></li>
                      <li><a href="#"><i class="fa fa-comments-o"></i> 5 Comments</a></li>
                      <li><a href="#"><i class="fa fa-folder-open"></i> Business</a></li>
                   </ul>
                  <a href="#" class="button-border">
                    <span>Read view</span>
                  </a>
               </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="blog-box-image">
            <div class="portfolio-item">
                 <img class="img-responsive" src="images/portfolio/medium/16.jpg" alt="">
                 <div class="portfolio-caption text-right">
                   <a href="#">Lorem ipsum dolor sit </a>
                    <ul class="port-tag">
                      <li><a href="#"><i class="fa fa-user"></i> By The Corps</a></li>
                      <li><a href="#"><i class="fa fa-comments-o"></i> 5 Comments</a></li>
                      <li><a href="#"><i class="fa fa-folder-open"></i> Business</a></li>
                   </ul>
                  <a href="#" class="button-border">
                    <span>Read view</span>
                  </a>
               </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="blog-box-image">
             <div class="portfolio-item">
                 <img class="img-responsive" src="images/blog/big/24.jpg" alt="">
                 <div class="portfolio-caption text-right">
                   <a href="#">Lorem ipsum dolor sit </a>
                    <ul class="port-tag">
                      <li><a href="#"><i class="fa fa-user"></i> By The Corps</a></li>
                      <li><a href="#"><i class="fa fa-comments-o"></i> 5 Comments</a></li>
                      <li><a href="#"><i class="fa fa-folder-open"></i> Business</a></li>
                   </ul>
                   <a href="#" class="button-border">
                    <span>Read view</span>
                  </a>
               </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</section>

<!--=================================
blog -->


<!--=================================
news-letter -->

<section class="news-letter bg-8 bg-opacity-white-70">
  <div class="container">
     <div class="row">
        <div class="col-lg-6 col-md-6">
            <h1 class="text-blue">News letter sign up</h1>
            <p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
        </div>
        <div class="col-lg-6 col-md-6">
           <div class="section-field mt-30">
              <div class="field-widget">
                <i class="fa fa-envelope-o"></i>
                <input type="text" name="name" placeholder="Email address..."  id="name">
                <a href="#" class="button-border pull-right">
                    <span>Sign up</span>
                  </a>
              </div>  
            </div>
        </div>
    </div>
  </div>
</section>

<!--=================================
news-letter -->


 <!--=================================
 key-features -->

<section class="key-features white-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="section-title-2 text-center">
          <h1 class="text-blue">Our key features</h1>
          <div class="title-line"></div>
          <p> See some of our awesome key features </p>
        </div>
       </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center mb-30 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1.5s ">
            <span class="icon-layers" aria-hidden="true"></span>
            <h4 class="text-back pt-20 pb-10">Many Style Available</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center mb-30 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
            <span class="icon-picture" aria-hidden="true"></span>
            <h4 class="text-back pt-20 pb-10">Revolution Slider</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center mb-30 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="1.5s">
            <span class="icon-heart" aria-hidden="true"></span>
            <h4 class="text-back pt-20 pb-10">Advanced Blog Options</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center mb-30 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="1.5s">
            <span class="icon-mouse" aria-hidden="true"></span>
            <h4 class="text-back pt-20 pb-10">Parallax Sections</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center mb-30 wow fadeInUp" data-wow-delay="1.0s" data-wow-duration="1.5s">
            <span class="icon-flag" aria-hidden="true"></span>
            <h4 class="text-back pt-20 pb-10">Unlimited Colors</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center mb-30 wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="1.5s">
            <span class="icon-equalizer" aria-hidden="true"></span>
            <h4 class="text-back pt-20 pb-10">Built with HTML5 and CSS3</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center wow fadeInUp" data-wow-delay="1.4s" data-wow-duration="1.5s">
            <span class="icon-paper-clip" aria-hidden="true"></span>
            <h4 class="text-back pt-20 pb-10">Unlimited layouts</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center wow fadeInUp" data-wow-delay="1.6s" data-wow-duration="1.5s">
            <span class="icon-star" aria-hidden="true"></span>
            <h4 class="text-back pt-20 pb-10">Advanced Portfolio Options</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">  
          <div class="feature-10 text-center wow fadeInUp" data-wow-delay="1.8s" data-wow-duration="1.5s">
            <span class="icon-rocket" aria-hidden="true"></span>
            <h4 class="text-back pt-20 pb-10">Powerful Performance</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
     </div>
   </div>
</section>

<!--=================================
  key-features -->


<!--=================================
  social -->

<section class="social-full white-bg">
  <div class="container-fluid">
   <ul>
    <li><a class="fb" href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
    <li><a class="vimeo" href="#"><i class="fa fa-vimeo"></i></a></li>
    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
    <li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
    <li><a class="behance" href="#"><i class="fa fa-behance"></i></a></li>
   </ul>
  </div>
</section>

<!--=================================
  social -->


<!--=================================
 footer -->

<footer class="footer-4 page-section-pt">
 <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
       <div class="get-in-touch footer-hedding">
        <h4 class="text-blue mb-20">Get in Touch</h4>
         <div class="contact-add">
           <i class="fa fa-map-marker"></i>
           <p class="mt-15 mb-15 text-white">1234 North Avenue Luke Lane South Bend, IN 360001</p>
         </div>
         <div class="contact-add">
           <i class="fa fa-phone"></i>
           <p class="mt-15 mb-15 text-white">+0123 456 789</p>
         </div>
         <div class="contact-add">
           <i class="fa fa-envelope-o"></i>
           <p class="mt-15 mb-15 text-white"> support@thecorps.com</p>
         </div>
    </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="office-hours footer-hedding">
        <h4 class="text-blue mb-20">Office Hours</h4>
         <p>Mon-Fri : 10 a.m. – 7 p.m. (GMT +1)</p>
         <p>Saturday : 9 a.m. – 1 p.m. (GMT +1)</p>
         <img src="images/clock.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
       <div class="tags footer-hedding">
        <h4 class="text-blue mb-20">Tagcloud</h4>
        <ul>
          <li><a href="#">Bootstrap</a></li>
          <li><a href="#">HTML5</a></li>
          <li><a href="#">Wordpress</a></li>
          <li><a href="#">CSS3</a></li>
          <li><a href="#">Creative</a></li>
          <li><a href="#">Multipurpose</a></li>
          <li><a href="#">Bootstrap</a></li>
          <li><a href="#">HTML5</a></li>
          <li><a href="#">Wordpress</a></li>
        </ul>
      </div>
      </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="footer-useful-link footer-hedding">
        <h4 class="text-blue mb-20">Latest Tweets</h4>
         <ul class="twitter-feed">
           <li><i class="fa fa-twitter"></i> <p class="text-white">Our brand new website builder, Envato Sites, has just launched into private beta! <a href=""> http://enva.to/nKqxx </a></p></li>           
           <li><i class="fa fa-twitter"></i> <p class="text-white">Get your photo on Unstock and win prizes. <a href="#">http://enva.to/unstock</a></p></li>           
         </ul>   
      </div>
    </div>
   </div>
  </div>
  <div class="footer-widget mt-60">
   <div class="container"> 
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="text-white mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> theCORPS</a> All Rights Reserved </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="text-white text-right mt-15">If you are interested in The Corps, do not wait and <a target="_blank" href="http://themeforest.net/item/the-corps-multipurpose-html5-template/15623522">BUY IT NOW!</a></p>
      </div>
    </div>    
   </div>
  </div>
</footer>

<!--=================================
 footer -->


<!--=================================
 popup contact -->

<div class="popup-contact">
 <div class="popup-contact-box">
  <a href="#" id="contact-btn"><i class="fa fa-envelope-o"></i></a> 
  <div class="contact-info clearfix">
    <h4 class="mb-30">Send us a message</h4>
    <div id="formmessage-2">Success/Error Message Goes Here</div>
     <form class="form-horizontal" id="contactform-2" role="form" method="post" action="php/contact-form-2.php">
        <div class="contact-form">
        <div class="section-field">
            <div class="field-widget">
            <i class="fa fa-user"></i>  
            <input id="name" type="text" placeholder="Name*"  name="name">
          </div> 
         </div>
         <div class="section-field">
            <div class="field-widget">
            <i class="fa fa-envelope-o"></i>
             <input type="email" placeholder="Email*" name="email">
          </div> 
         </div>
         <div class="section-field clearfix">
          <div class="field-widget">
               <i class="fa fa-pencil"></i>
               <textarea class="input-message"  placeholder="Comment*" rows="3" name="message"></textarea>
            </div>
          </div>
          <input type="hidden" name="action" value="sendEmail"/>
             <button id="submit-2" name="submit" type="submit" value="Send" class="button-border pull-right clearfix"><span>Send</span></button>
             </div> 
         </form>
       <div id="ajaxloader-2" style="display:none"><img class="center-block mt-30 mb-30" src="images/ajax-loader.gif" alt=""></div>
    </div>
 </div>
</div> 

<!--=================================
 popup contact -->
 
 </div>
 
<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-long-arrow-up"></i></a></div>
  
<!--=================================
 jquery -->

<!-- jquery  -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- plugins-jquery -->
<script type="text/javascript" src="js/plugins-jquery.js"></script>

<!-- mega menu -->
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script>
 
<!-- hover -->
<script type="text/javascript" src="js/portfolio/jquery.directional-hover.js"></script>
 
<!-- socialstream -->
<script src="js/social/socialstream.jquery.js"></script>

<!-- videoBG -->
<script src="js/video/jquery.vide.js"></script>

<!-- popup -->
<script src="js/popup/jquery.magnific-popup.js"></script>

<!-- isotope -->
<script src="js/isotope/isotope.pkgd.min.js"></script>

<!-- Wow --> 
<script type="text/javascript" src="js/wow.min.js"></script>

<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>
 
</body>
</html>
