<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="The Corps — Multi-Purpose HTML Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>The Corps — Responsive Multi-purpose HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- plugins -->
<link href="css/plugins-css.css" rel="stylesheet" type="text/css" />

<!-- mega menu -->
<link href="css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />

<!-- default -->
<link href="css/default.css" rel="stylesheet" type="text/css" />

<!-- main style -->
<link href="css/style.css" rel="stylesheet" type="text/css" />

<!-- responsive -->
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<!-- custom style -->
<link href="css/custom.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="page-wrapper over-inherit">

<!--=================================
 preloader -->
 
<div id="preloader">
  <div class="clear-loading loading-effect"> <span></span> </div>
</div>

<!--=================================
 preloader -->

 
<!--=================================
 header -->

  <header id="header" class="header-7 clearfix">
  <div id="menu">
   <nav id="menu-4" class="mega-menu">
     <!-- menu list items container -->
      <section class="menu-list-items">
       <!-- menu logo -->
        <ul class="menu-logo">
         <li></li>
         </ul>
         <!-- menu links -->
          <ul class="menu-links">
            <!-- active class -->
            <li class="active"><a href="javascript:void(0)"> Home <i class="fa fa-angle-down fa-indicator"></i></a>
                <div class="drop-down grid-col-8 offset-4">
                <!--grid row-->
                 <div class="grid-row">
                   <!--grid column 3-->
                    <div class="grid-col-4">
                     <ul>
                        <li><a href="home-1-default.html">Home 1 - Default <span class="label label-danger ml-10">Hot</span></a></li>
                        <li><a href="home-2-rain.html">Home 2 - Rain</a></li> 
                        <li><a href="home-3-corporate.html">Home 3 - Corporate</a></li>
                        <li><a href="home-4-corporate.html">Home 4 - Corporate</a></li>
                        <li><a href="home-5-creative.html">Home 5 - Creative</a></li>
                     </ul>
                    </div>
                    <div class="grid-col-4">
                     <ul>
                        <li><a href="home-6-business.html">Home 6 - Business <span class="label label-info ml-10">New</span> </a></li>
                        <li class="active"><a href="home-7-classic.html">Home 7 - Classic <span class="label label-primary ml-10">New</span></a></li> 
                        <li><a href="home-8-agency.html">Home 8 - Agency <span class="label label-success ml-10">New</span></a></li>
                        <li><a href="home-9-personal.html">Home 9 - Personal <span class="label label-warning ml-10">New</span></a></li>
                        <li><a href="home-10-parallax.html">Home 10 - Parallax <span class="label label-default ml-10">New</span></a></li>
                     </ul>
                    </div>
                    <div class="grid-col-4">
                     <ul>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-1-default/index.html">One page 1 - Default </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-2-rain/index.html">One page 2 - Rain </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-3-corporate/index.html">One page 3 - Corporate </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-4-corporate/index.html">One page 4 - Corporate </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-5-creative/index.html">One page 5 - Creative </a></li>
                     </ul>
                    </div>
                   </div>
                  </div>
              </li>
            <li><a href="javascript:void(0)">Pages <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down full width -->
                <div class="drop-down menu-bg grid-col-12">
                    <!--grid row-->
                    <div class="grid-row">
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="about-1.html">About 1</a></li>
                              <li><a href="about-2.html">About 2</a></li>
                              <li><a href="about-3.html">About 3</a></li>
                              <li><a href="about-me.html">About me</a></li>
                              <li><a href="service-1.html">service 1 </a></li>
                              <li><a href="service-2.html">service 2 </a></li>
                              <li><a href="service-3.html">service 3 </a></li>
                              <li><a href="team-1.html">team 1 </a></li>
                              <li><a href="team-2.html">team 2 </a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="team-single.html">team single </a></li>
                              <li><a href="contact-1.html">contact 1 </a></li>
                              <li><a href="contact-2.html">contact 2 </a></li>
                              <li><a href="contact-3.html">contact 3 </a></li>
                              <li><a href="faqs-1.html">faqs 1 </a></li>
                              <li><a href="faqs-2.html">faqs 2 </a></li>
                              <li><a href="our-clients-1.html">our clients 1 </a></li>
                              <li><a href="our-clients-2.html">our clients 2 </a></li>
                              <li><a href="careers.html">careers </a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="maintenance-1.html">maintenance 1 </a></li>
                              <li><a href="maintenance-2.html">maintenance 2 </a></li>
                              <li><a href="login-1.html">login 1 </a></li>
                              <li><a href="login-2.html">login 2 </a></li>
                              <li><a href="register-1.html">register 1 </a></li>
                              <li><a href="register-2.html">register 2 </a></li>
                              <li><a href="error-404-1.html">error 404 1 </a></li>
                              <li><a href="error-404-2.html">error 404 2 </a></li>
                              <li><a href="coming-soon-1.html">coming soon 1 </a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="coming-soon-2.html">coming soon 2 </a></li>
                              <li><a href="page-left-sidebar.html">page left sidebar </a></li>
                              <li><a href="page-right-sidebar.html">page right sidebar </a></li>
                              <li><a href="page-two-sidebar.html">page two sidebar </a></li>
                              <li><a href="sitemap.html">sitemap </a></li>
                              <li><a href="terms-and-conditions.html">terms and conditions </a></li>
                              <li><a href="privacy-policy.html">privacy policy </a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </li>
            <li><a href="javascript:void(0)">blog <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                    <li><a href="javascript:void(0)">blog classic <i class="fa fa-angle-left fa-indicator"></i> </a>

                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                           <li><a href="blog-classic-left-sidebar.html">left sidebar</a></li>
                           <li><a href="blog-classic-right-sidebar.html">right sidebar</a></li>
                           <li><a href="blog-classic-fullwidth.html">fullwidth</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">grid <i class="fa fa-angle-left fa-indicator"></i> </a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-grid-2-column.html"> 2 column </a> </li>
                            <li><a href="blog-grid-3-column.html"> 3 column </a> </li>
                            <li><a href="blog-grid-2-column-left-sidebar.html">left sidebar</a></li>
                            <li><a href="blog-grid-2-column-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="javascript:void(0)">Masonry  <i class="fa fa-angle-left fa-indicator"></i> </a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-masonry-2-columns.html"> 2 column </a> </li>
                            <li><a href="blog-masonry-3-columns.html"> 3 column </a> </li>
                            <li><a href="blog-masonry-2-columns-left-sidebar.html">left sidebar</a></li>
                           <li><a href="blog-masonry-2-columns-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="#">timeline  <i class="fa fa-angle-left fa-indicator"></i></a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                          <li><a href="blog-timeline.html">fullwidth</a></li>
                          <li><a href="blog-timeline-left-sidebar.html">left sidebar</a></li>
                          <li><a href="blog-timeline-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="#">single post  <i class="fa fa-angle-left fa-indicator"></i></a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-single-image-post.html"> blog image post </a> </li>
                            <li><a href="blog-single-video-post.html"> blog video post </a> </li>
                            <li><a href="blog-single-youtube-post.html"> blog youtube post </a> </li>
                            <li><a href="blog-single-vimeo-post.html"> blog vimeo post </a> </li>
                            <li><a href="blog-single-audio-post.html"> blog audio post  </a> </li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Portfolio<i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel right-side">
                    
                    <li><a href="#">portfolio classic <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="javascript:void(0)"> 1 column  <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel">
                                    <li><a href="portfolio-classic-1-column-default.html">default</a></li>
                                    <li><a href="portfolio-classic-1-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-1-columns-right-sidebar.html">right sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"> 2 column  <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel">
                                    <li><a href="portfolio-classic-2-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-2-columns-right-sidebar.html">right sidebar</a></li>
                                    <li><a href="portfolio-classic-2-columns-fullwidth.html">fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"> 3 column  <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel">
                                    <li><a href="portfolio-classic-3-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-3-columns-right-sidebar.html">right sidebar</a></li>
                                    <li><a href="portfolio-classic-3-columns-fullwidth.html">fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"> 4 column <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel">
                                    <li><a href="portfolio-classic-4-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-4-columns-right-sidebar.html">right sidebar</a></li>
                                    <li><a href="portfolio-classic-4-columns-fullwidth.html">fullwidth</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">portfolio Masonry <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="portfolio-masonry-2-columns.html"> 2 column </a> </li>
                            <li><a href="portfolio-masonry-3-columns.html"> 3 column </a> </li>
                            <li><a href="portfolio-masonry-4-columns.html"> 4 column </a> </li>
                            <li><a href="portfolio-masonry-full-screen.html"> full screen </a> </li>
                        </ul> 
                    </li>
                    <li><a href="#">portfolio grid <i class="fa fa-angle-left fa-indicator"></i></a>
                      <ul class="drop-down-multilevel">
                            <li><a href="javascript:void(0)"> grid <i class="fa fa-angle-left fa-indicator"></i></a>  
                               <!-- drop down third level -->
                                <ul class="drop-down-multilevel">
                                    <li><a href="portfolio-grid-2-columns.html">2 column</a></li>
                                    <li><a href="portfolio-grid-3-columns.html">3 column</a></li>
                                    <li><a href="portfolio-grid-4-columns.html">4 column</a></li>
                                </ul>
                              </li>
                            <li><a href="javascript:void(0)"> grid full screen <i class="fa fa-angle-left fa-indicator"></i></a> 
                               <!-- drop down third level -->
                                <ul class="drop-down-multilevel">
                                    <li><a href="portfolio-grid-full-screen-2-columns.html">2 column</a></li>
                                    <li><a href="portfolio-grid-full-screen-3-columns.html">3 column</a></li>
                                    <li><a href="portfolio-grid-full-screen-4-columns.html">4 column</a></li>
                                    <li><a href="portfolio-grid-full-screen-5-columns.html">5 column</a></li>
                                </ul>
                            </li>
                       </ul>
                    </li>
                    <li><a href="#">portfolio Packery <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="portfolio-packetry.html"> packetry fullwidth </a> </li>
                            <li><a href="portfolio-packetry-fullwidth.html"> full screen </a> </li>
                         </ul>
                    </li>
                    <li><a href="#">portfolio single <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="portfolio-single-1.html"> single 01 </a> </li>
                            <li><a href="portfolio-single-2.html"> single 02 </a> </li>
                         </ul>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"> Shortcodes <i class="fa fa-angle-down fa-indicator"></i></a>
              <!-- drop down full width -->
                <div class="drop-down grid-col-12">
                    <!--grid row-->
                    <div class="grid-row">
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-accordions.html"><i class="fa fa-list-ul"></i> accordions </a></li>
                              <li><a href="elements-action-box.html"><i class="fa fa-rocket"></i> action box</a></li>
                              <li><a href="elements-alerts-and-callouts.html"><i class="fa fa-info-circle"></i> alerts and callouts</a></li>
                              <li><a href="elements-buttons.html"><i class="fa fa-external-link"></i> buttons</a></li>
                              <li><a href="elements-carousel-slider.html"><i class="fa fa-exchange"></i> carousel slider</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-columns.html"><i class="fa fa-th"></i> columns</a></li>
                              <li><a href="elements-content-box.html"><i class="fa fa-file-text-o"></i> content box</a></li>
                              <li><a href="elements-counter.html"><i class="fa fa-sort-numeric-asc"></i> counter</a></li>
                              <li><a href="elements-data-table.html"><i class="fa fa-table"></i> data table</a></li>
                              <li><a href="elements-lists-style.html"><i class="fa fa-th-list"></i> lists style</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-post-style.html"> <i class="fa fa-photo"></i> post style</a></li>
                              <li><a href="elements-pricing-tables.html"><i class="fa fa-money"></i> pricing tables</a></li>
                              <li><a href="elements-skills.html"><i class="fa fa-tasks"></i> skills</a></li>
                              <li><a href="elements-social-icon.html"><i class="fa fa-share-alt"></i> social icon</a></li>
                              <li><a href="elements-social-widget-gallery.html"><i class="fa fa-bullhorn"></i> social widget gallery</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-tabs.html"><i class="fa fa-star"></i> tabs</a></li>
                              <li><a href="elements-team.html"><i class="fa fa-users"></i> team</a></li>
                              <li><a href="elements-typography.html"><i class="fa fa-italic"></i> typography</a></li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </li>
            <li><a href="javascript:void(0)"> Contact <i class="fa fa-angle-down fa-indicator"></i></a>
                 <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                    <li><a href="contact-1.html">Contact 1</a></li>
                    <li><a href="contact-2.html">Contact 2</a></li>
                    <li><a href="contact-3.html">Contact 3</a></li>
                </ul>
            </li>
           </ul>
      </section>
    </nav>
 </div>
<div class="container-fluid">
 <div class="row">
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo-xs">
          <div class="logo clearfix">
            <a href="home-1-default.html"><img class="img-responsive" id="logo_img" src="images/logo.png" alt="logo"> </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 clearfix"> 
          <!-- menu start -->
           <div id="menu-toggle">
            <div id="menu-icon">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
             </div>
           </div>
          <!-- menu end -->
      </div>
   </div>
 </div>
</header>

<!--=================================
 header -->


 <!--=================================
slider- -->

   <section id="animated-slider-2" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#animated-slider-2" data-slide-to="0" class="active"></li>
          <li data-target="#animated-slider-2" data-slide-to="1"></li>
        </ol>
        <!-- Carousel inner -->
        <div class="carousel-inner">
          <!--/ Carousel item end -->
          <div class="item bg-gradient active ">
            <img class="img-responsive" src="images/slider/slider-11.jpg" alt="slider">  
            <div class="slider-content">
              <div class="container">
              <div class="row">
                <div class="col-md-12 text-right">
                 <div class="slider-1">
                    <h1 class="animated2 text-white">Clean Creative Business template</h1>
                    <p class="animated8">Template is designed for all types of businesses such as Corporate, Business, Portfolio, Creative, Blog, Agency and many more… </p>
                 </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="item bg-gradient">
            <img class="img-responsive" src="images/slider/slider-12.jpg" alt="slider">  
            <div class="slider-content">
              <div class="container">
              <div class="row">
                <div class="col-md-12 text-left">
                 <div class="slider-2">
                    <h1 class="animated3 text-white"> Flexible powerful incredible Template</h1>
                    <p class="animated8">Customize according to your business or client requirements with the ultimate features. </p>
                 </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <!--/ Carousel item end -->
        </div>
  </section>
 
<!--=================================
slider -->


<!--=================================
our-service -->

<section id="raindrops" class="raindrops our-service page-section-ptb">
  <div class="objects-left">
     <img class="objects-1 img-responsive wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="2.0s" src="images/objects/01.png" alt="">
     <img class="objects-2 img-responsive wow fadeInLeft" data-wow-delay="0.4s" data-wow-duration="2.0s" src="images/objects/02.png" alt="">
     <img class="objects-3 img-responsive wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="2.0s" src="images/objects/03.png" alt="">
  </div>
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12">
           <div class="section-title-2 text-center">
              <h2 class="text-blue">Our Services</h2>
              <div class="title-line"></div>
              <p>We provide the best service in the Web World</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-16">
               <div class="feature-16-icon">
                 <span class="icon-earphones" aria-hidden="true"></span>
               </div>
               <div class="feature-16-contant">
                 <h4>Cross browser compatible.</h4>
                 <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam, enim expedita sed quia</p>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-16">
               <div class="feature-16-icon">
                 <span class="icon-equalizer" aria-hidden="true"></span>
               </div>
               <div class="feature-16-contant">
                 <h4>Custom animations</h4>
                 <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam, enim expedita sed quia</p>
               </div>
            </div>
         </div>
      </div>
    <div class="row mt-50">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-16">
               <div class="feature-16-icon">
                 <span class="icon-rocket" aria-hidden="true"></span>
               </div>
               <div class="feature-16-contant">
                 <h4>Fast & Super Easy</h4>
                 <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam, enim expedita sed quia</p>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-16">
               <div class="feature-16-icon">
                 <span class="icon-flag" aria-hidden="true"></span>
               </div>
               <div class="feature-16-contant">
                 <h4>Fullwidth sections</h4>
                 <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam, enim expedita sed quia</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-50">
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-16">
               <div class="feature-16-icon">
                 <span aria-hidden="true" class="icon-layers"></span>
               </div>
               <div class="feature-16-contant">
                 <h4>Revolution slider</h4>
                 <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam, enim expedita sed quia</p>
               </div>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="feature-16">
               <div class="feature-16-icon">
                 <span class="icon-screen-desktop" aria-hidden="true"></span>
               </div>
               <div class="feature-16-contant">
                 <h4>Well Documented</h4>
                 <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam, enim expedita sed quia</p>
               </div>
            </div>
         </div>
      </div>   
      </div>
      <div class="objects-right">
     <img class="objects-4 img-responsive wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="2.0s" src="images/objects/04.png" alt="">
     <img class="objects-5 img-responsive wow fadeInRight" data-wow-delay="0.4s" data-wow-duration="2.0s" src="images/objects/05.png" alt="">
  </div>
</section>

<!--=================================
our-service -->


<!--=================================
work-process -->

<section class="work-process-2 black-bg page-section-pb">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12">
           <div class="section-title-2 text-center">
              <h2 class="text-white">Work Process</h2>
              <div class="title-line-2"></div>
              <p class="text-white">Our unique process system</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-17 text-center">
              <div class="feature-17-icon">
                 <span aria-hidden="true" class="icon-note"></span>
              </div>
              <div class="feature-17-content">
                <h4 class="text-white">Planning </h4>
                <p>We'll go over your goals, styles you like, layouts & color you like and your projects need.</p>
              </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-17 text-center">
              <div class="feature-17-icon">
                 <span aria-hidden="true" class="icon-pencil"></span>
              </div>
              <div class="feature-17-content">
                <h4 class="text-white">Design </h4>
                <p>Here we will take everything we learned during planning and create the design that all you want.</p>
              </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-17 text-center">
              <div class="feature-17-icon">
                 <span aria-hidden="true" class="icon-settings"></span>
              </div>
              <div class="feature-17-content">
                <h4 class="text-white">Development </h4>
                <p>After we have the look for the projects, we will need to code this. all the functionality in place.</p>
              </div>
            </div>
         </div>
      </div>
  </div>   
</section>

<!--=================================
work-process -->




<!--=================================
work-process -->

<section class="bg-15 page-section-ptb">
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-md-offset-4">
           <div class="title">
             <h3 class="text-blue mb-20">Why the corps?</h3>
             <p class="text-black">This template is designed for all types of businesses such as Corporate, Business, Portfolio, Creative, Blog, Agency and many more…</p>
           </div> 
           <div class="row mt-50">
            <div class="col-lg-6 col-md-6 col-sm-6">
             <div class="feature-18">
               <h5><i class="fa fa-bars" aria-hidden="true"></i> Responsive Mega Menu</h5>
               <p>Horizontal, vertical left, vertical right, 6 drop down animations, multilevel drop down and much more...</p>
              </div>
             </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="feature-18">
               <h5><i class="fa fa-sliders" aria-hidden="true"></i> Ultimate customizability</h5>
               <p>Choose the right color, layout, background pattern and background image with our theme customizer module.</p>
             </div>
            </div>
          </div>
           <div class="row mt-50">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="feature-18">
                 <h5><i class="fa fa-th" aria-hidden="true"></i> Page layouts options</h5>
                 <p>The crops has more than 6 page layouts options to choose from. Change as per your requirement. </p>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="feature-18">
                 <h5><i class="fa fa-eye" aria-hidden="true"></i>Responsive &amp; retina ready</h5>
                 <p>The Corps automatically resize to fit the different screen size and make it look great on all device. </p>
               </div>
            </div>
           </div>
         </div>
      </div>
   </div>   
</section>

<!--=================================
work-process -->


<!--=================================
key-features -->

<section class="key-features-2 white-bg page-section-pt">
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center mb-30">
            <span aria-hidden="true" class="icon-layers"></span>
            <h4 class="text-back pt-20 pb-10">Many Style Available</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center mb-30">
            <span aria-hidden="true" class="icon-picture"></span>
            <h4 class="text-back pt-20 pb-10">Revolution Slider</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center mb-30">
            <span aria-hidden="true" class="icon-heart"></span>
            <h4 class="text-back pt-20 pb-10">Advanced Blog Options</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
     </div>
     <div class="row mt-40">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center">
            <span aria-hidden="true" class="icon-mouse"></span>
            <h4 class="text-back pt-20 pb-10">Parallax Sections</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div> 
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center">
            <span aria-hidden="true" class="icon-flag"></span>
            <h4 class="text-back pt-20 pb-10">Unlimited Colors</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="feature-10 text-center">
            <span aria-hidden="true" class="icon-equalizer"></span>
            <h4 class="text-back pt-20 pb-10">Built with HTML5 and CSS3</h4>
            <p>Dolor sit amet, consectetur adipisicing elit. Vero quod conseqt quibusdam,  sed quia nesciunt in accusamus necessitatibus modi adipisci officia</p>
          </div>
        </div>
     </div>
     <div class="features-device text-center">
       <div class="row features-device text-center">
            <div class="col-lg-2 col-md-2 col-sm-2"> 
              <img class="img-responsive device-1 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="2.0s" src="images/device/device-11.png" alt=""> 
            </div>  
            <div class="col-lg-1 col-md-1 col-sm-1"> 
              <img class="img-responsive device-2 wow fadeInUp" data-wow-delay="1.8s" data-wow-duration="2.0s" src="images/device/device-12.png" alt=""> 
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6"> 
              <img class="img-responsive device-3 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="2.0s" src="images/device/device-13.png" alt=""> 
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6"> 
              <img class="img-responsive device-4 wow fadeInUp" data-wow-delay="1.4s" data-wow-duration="2.0s" src="images/device/device-14.png" alt=""> 
            </div>
       </div>
   </div>
 </div>
</section>

<!--=================================
key-features -->


<!--=================================
frequently  -->

<section class="frequently bg-16 page-section-ptb">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="accordion">
               <h2 class="text-blue mb-30">Frequently asked questions </h2>
                   <div class="accordion-title">
                           <a href="#"><i class="fa fa-question" aria-hidden="true"></i> What is available through the web?</a>
                      </div>
                      <div class="accordion-content"> 
                         <p> Avilable through web is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                     </div>
                     <div class="accordion-title">
                           <a href="#"><i class="fa fa-question" aria-hidden="true"></i> How do I publish on the Web?</a>
                      </div>
                      <div class="accordion-content"> 
                         <p> Avilable through web is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                     </div>
                     <div class="accordion-title">
                           <a href="#"><i class="fa fa-question" aria-hidden="true"></i> How do I find out what's new on the Web?</a>
                      </div>
                      <div class="accordion-content"> 
                         <p> Avilable through web is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                     </div>
                      <div class="accordion-title">
                           <a href="#"><i class="fa fa-question" aria-hidden="true"></i> What is Java?</a>
                      </div>
                      <div class="accordion-content"> 
                         <p> Avilable through web is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                     </div>
                 <a class="button mt-20" href="#"><span>Have a Question? Ask us now</span></a>
            </div>
         </div>
      </div>
   </div>   
</section>

<!--=================================
frequently  -->


<!--=================================
contact  -->

<section class="contact-4 page-section-ptb">
   <div class="container"> 
      <div class="row">
         <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="contact-title mb-30">
             <h2 class="text-blue mb-15">Get in touch with us</h2>
             <p>It would be great to hear from you! If you got any questions, please do not hesitate to send us a message. </p>
          </div>            
            <div id="formmessage">Success/Error Message Goes Here</div>
             <form class="form-horizontal" id="contactform" role="form" method="post" action="php/contact-form.php">
             <div class="contact-form">
               <input id="name" type="text" placeholder="Name*"  name="name">
               <input type="email" placeholder="Email*" name="email">
               <input type="text" placeholder="Phone*" name="phone">
               <textarea class="input-message" placeholder="Comment*" rows="7" name="message"></textarea>
               <input type="hidden" name="action" value="sendEmail"/>
               <button id="submit" name="submit" type="submit" value="Send" class="button mt-20"><span> Send your message </span> <i class="fa fa-paper-plane"></i></button>
              </div> 
             </form>
           <div id="ajaxloader" style="display:none"><img class="center-block mt-30 mb-30" src="images/ajax-loader.gif" alt=""></div> 
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 pl-20">
           <div class="contact-title mb-30">
             <h2 class="text-blue mb-15">Contact details</h2>

             <p>We are looking forward to hearing from you! No matter what is your question, we are here to work with you on your terms. </p>
               </div> 
             <div class="contact-address">
               <ul>
                 <li><span aria-hidden="true" class="icon-bubbles"></span> <p> Chat with our support team</p></li>
                 <li><span aria-hidden="true" class="icon-earphones-alt"></span> <p> Call us <br/>+0123 456 789 &nbsp&nbsp +0123 456 789</p></li>
                 <li><span aria-hidden="true" class="icon-map"></span> <p> Our help center</p></li>
               </ul>
             </div>
             <div class="contact-social">
                <h5 class="mb-20 mt-15">Follow us on social network</h5>
                <ul>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i> </a></li>
                  <li><a href="#"><i class="fa fa-vimeo"></i> </a></li>
                  <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                  <li><a href="#"><i class="fa fa-behance"></i> </a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                </ul>
             </div>
         </div>
      </div>
   </div>
</section>

<!--=================================
 contact -->

 
<!--=================================
 footer -->
 
<footer class="footer-4 page-section-pt">
 <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
       <div class="footer-Newsletter footer-hedding">
        <h4 class="text-blue mb-20">Newsletter</h4>
        <p class="text-white mb-20">Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
        <div class="input-group divcenter">
              <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                     <input type="email" placeholder="Enter your Email" class="form-control placeholder">
                     <span class="input-group-btn">
                  <button type="submit" class="btn btn-icon"><i class="fa fa-paper-plane"></i></button> 
              </span>
           </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="office-hours footer-hedding">
        <h4 class="text-blue mb-20">Office Hours</h4>
         <p>Mon-Fri : 10 a.m. – 7 p.m. (GMT +1)</p>
         <p>Saturday : 9 a.m. – 1 p.m. (GMT +1)</p>
         <img src="images/clock.png" alt="">
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
       <div class="tags footer-hedding">
        <h4 class="text-blue mb-20">Tagcloud</h4>
        <ul>
          <li><a href="#">Bootstrap</a></li>
          <li><a href="#">HTML5</a></li>
          <li><a href="#">Wordpress</a></li>
          <li><a href="#">CSS3</a></li>
          <li><a href="#">Creative</a></li>
          <li><a href="#">Multipurpose</a></li>
          <li><a href="#">Bootstrap</a></li>
          <li><a href="#">HTML5</a></li>
          <li><a href="#">Wordpress</a></li>
        </ul>
      </div>
      </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="footer-useful-link footer-hedding">
        <h4 class="text-blue mb-20">Latest Tweets</h4>
         <ul class="twitter-feed">
           <li><i class="fa fa-twitter"></i> <p class="text-white">Our brand new website builder, Envato Sites, has just launched into private beta! <a href=""> http://enva.to/nKqxx </a></p></li>           
           <li><i class="fa fa-twitter"></i> <p class="text-white">Get your photo on Unstock and win prizes. <a href="#">http://enva.to/unstock</a></p></li>           
         </ul>   
      </div>
    </div>
   </div>
  </div>
  <div class="footer-widget mt-60">
   <div class="container"> 
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="text-white mt-15"> &copy;Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> theCORPS</a> All Rights Reserved </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="text-white text-right mt-15">If you are interested in The Corps, do not wait and <a target="_blank" href="http://themeforest.net/item/the-corps-multipurpose-html5-template/15623522">BUY IT NOW!</a></p>
      </div>
    </div>    
   </div>
  </div>
</footer>

<!--=================================
 footer -->
 

<!--=================================
 popup contact -->

<div class="popup-contact">
 <div class="popup-contact-box">
  <a href="#" id="contact-btn"><i class="fa fa-envelope-o"></i></a> 
  <div class="contact-info clearfix">
    <h4 class="mb-30">Send us a message</h4>
    <div id="formmessage-2">Success/Error Message Goes Here</div>
     <form class="form-horizontal" id="contactform-2" role="form" method="post" action="php/contact-form-2.php">
        <div class="contact-form">
        <div class="section-field">
            <div class="field-widget">
            <i class="fa fa-user"></i>  
            <input id="name" type="text" placeholder="Name*"  name="name">
          </div> 
         </div>
         <div class="section-field">
            <div class="field-widget">
            <i class="fa fa-envelope-o"></i>
             <input type="email" placeholder="Email*" name="email">
          </div> 
         </div>
         <div class="section-field clearfix">
          <div class="field-widget">
               <i class="fa fa-pencil"></i>
               <textarea class="input-message"  placeholder="Comment*" rows="3" name="message"></textarea>
            </div>
          </div>
          <input type="hidden" name="action" value="sendEmail"/>
             <button id="submit-2" name="submit" type="submit" value="Send" class="button-border pull-right clearfix"><span>Send</span></button>
             </div> 
         </form>
       <div id="ajaxloader-2" style="display:none"><img class="center-block mt-30 mb-30" src="images/ajax-loader.gif" alt=""></div>
    </div>
 </div>
</div>

<!--=================================
 popup contact -->

 </div>
 
<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-long-arrow-up"></i></a></div>

<!--=================================
 jquery -->

<!-- jquery  -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- plugins-jquery -->
<script type="text/javascript" src="js/plugins-jquery.js"></script>

<!-- mega menu -->
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script>

<!-- socialstream -->
<script src="js/social/socialstream.jquery.js"></script>
 
<!-- jquery ui -->
<script src="js/jquery-ui.js"></script>

<!-- wow -->
<script src="js/wow.min.js"></script>

<!-- raindrops -->
<script src="js/raindrops/raindrops.js"></script>
 
<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>
 
</body>
</html>
