<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="The Corps — Multi-Purpose HTML Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>The Corps — Responsive Multi-purpose HTML5 Template</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- plugins -->
<link href="css/plugins-css.css" rel="stylesheet" type="text/css" />

<!-- mega menu -->
<link href="css/mega-menu/mega_menu.css" rel="stylesheet" type="text/css" />

<!-- default -->
<link href="css/default.css" rel="stylesheet" type="text/css" />

<!-- main style -->
<link href="css/style.css" rel="stylesheet" type="text/css" />

<!-- responsive -->
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<!-- custom style -->
<link href="css/custom.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="page-wrapper">

<!--=================================
 preloader -->
 
<div id="preloader">
  <div class="clear-loading loading-effect"> <span></span> </div>
</div>

<!--=================================
 preloader -->

 
<!--=================================
 header -->

<header id="header" class="header-9">
  <div class="menu">  
  <!-- menu start -->
   <nav id="menu-1" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container"> 
      <div class="row"> 
       <div class="col-lg-12 col-md-12"> 
        <!-- menu logo -->
        <ul class="menu-logo">
            <li>
                <a href="home-1-default.html"><img id="logo_dark_img" src="images/logo-dark.png" alt="logo"> </a>
            </li>
        </ul>
        <!-- menu links -->
        <ul class="menu-links">
            <!-- active class -->
            <li class="active"><a href="javascript:void(0)"> Home <i class="fa fa-angle-down fa-indicator"></i></a>
                <div class="drop-down grid-col-8 offset-4">
                <!--grid row-->
                 <div class="grid-row">
                   <!--grid column 3-->
                    <div class="grid-col-4">
                     <ul>
                        <li><a href="home-1-default.html">Home 1 - Default <span class="label label-danger ml-10">Hot</span></a></li>
                        <li><a href="home-2-rain.html">Home 2 - Rain</a></li> 
                        <li><a href="home-3-corporate.html">Home 3 - Corporate</a></li>
                        <li><a href="home-4-corporate.html">Home 4 - Corporate</a></li>
                        <li><a href="home-5-creative.html">Home 5 - Creative</a></li>
                     </ul>
                    </div>
                    <div class="grid-col-4">
                     <ul>
                        <li><a href="home-6-business.html">Home 6 - Business <span class="label label-info ml-10">New</span> </a></li>
                        <li><a href="home-7-classic.html">Home 7 - Classic <span class="label label-primary ml-10">New</span></a></li> 
                        <li><a href="home-8-agency.html">Home 8 - Agency <span class="label label-success ml-10">New</span></a></li>
                        <li class="active"><a href="home-9-personal.html">Home 9 - Personal <span class="label label-warning ml-10">New</span></a></li>
                        <li><a href="home-10-parallax.html">Home 10 - Parallax <span class="label label-default ml-10">New</span></a></li>
                     </ul>
                    </div>
                    <div class="grid-col-4">
                     <ul>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-1-default/index.html">One page 1 - Default </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-2-rain/index.html">One page 2 - Rain </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-3-corporate/index.html">One page 3 - Corporate </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-4-corporate/index.html">One page 4 - Corporate </a></li>
                        <li><a target="_blank" href="http://themes.potenzaglobal.net/thecorps/one-page/one-page-5-creative/index.html">One page 5 - Creative </a></li>
                     </ul>
                    </div>
                   </div>
                  </div>
              </li>
            <li><a href="javascript:void(0)">Pages <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down full width -->
                <div class="drop-down menu-bg grid-col-12">
                    <!--grid row-->
                    <div class="grid-row">
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="about-1.html">About 1</a></li>
                              <li><a href="about-2.html">About 2</a></li>
                              <li><a href="about-3.html">About 3</a></li>
                              <li><a href="about-me.html">About me</a></li>
                              <li><a href="service-1.html">service 1 </a></li>
                              <li><a href="service-2.html">service 2 </a></li>
                              <li><a href="service-3.html">service 3 </a></li>
                              <li><a href="team-1.html">team 1 </a></li>
                              <li><a href="team-2.html">team 2 </a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="team-single.html">team single </a></li>
                              <li><a href="contact-1.html">contact 1 </a></li>
                              <li><a href="contact-2.html">contact 2 </a></li>
                              <li><a href="contact-3.html">contact 3 </a></li>
                              <li><a href="faqs-1.html">faqs 1 </a></li>
                              <li><a href="faqs-2.html">faqs 2 </a></li>
                              <li><a href="our-clients-1.html">our clients 1 </a></li>
                              <li><a href="our-clients-2.html">our clients 2 </a></li>
                              <li><a href="careers.html">careers </a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="maintenance-1.html">maintenance 1 </a></li>
                              <li><a href="maintenance-2.html">maintenance 2 </a></li>
                              <li><a href="login-1.html">login 1 </a></li>
                              <li><a href="login-2.html">login 2 </a></li>
                              <li><a href="register-1.html">register 1 </a></li>
                              <li><a href="register-2.html">register 2 </a></li>
                              <li><a href="error-404-1.html">error 404 1 </a></li>
                              <li><a href="error-404-2.html">error 404 2 </a></li>
                              <li><a href="coming-soon-1.html">coming soon 1 </a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="coming-soon-2.html">coming soon 2 </a></li>
                              <li><a href="page-left-sidebar.html">page left sidebar </a></li>
                              <li><a href="page-right-sidebar.html">page right sidebar </a></li>
                              <li><a href="page-two-sidebar.html">page two sidebar </a></li>
                              <li><a href="sitemap.html">sitemap </a></li>
                              <li><a href="terms-and-conditions.html">terms and conditions </a></li>
                              <li><a href="privacy-policy.html">privacy policy </a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </li>
            <li><a href="javascript:void(0)">blog <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                    <li><a href="javascript:void(0)">blog classic <i class="fa fa-angle-right fa-indicator"></i> </a>

                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                           <li><a href="blog-classic-left-sidebar.html">left sidebar</a></li>
                           <li><a href="blog-classic-right-sidebar.html">right sidebar</a></li>
                           <li><a href="blog-classic-fullwidth.html">fullwidth</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">grid <i class="fa fa-angle-right fa-indicator"></i> </a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-grid-2-column.html"> 2 column </a> </li>
                            <li><a href="blog-grid-3-column.html"> 3 column </a> </li>
                            <li><a href="blog-grid-2-column-left-sidebar.html">left sidebar</a></li>
                            <li><a href="blog-grid-2-column-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="javascript:void(0)">Masonry  <i class="fa fa-angle-right fa-indicator"></i> </a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-masonry-2-columns.html"> 2 column </a> </li>
                            <li><a href="blog-masonry-3-columns.html"> 3 column </a> </li>
                            <li><a href="blog-masonry-2-columns-left-sidebar.html">left sidebar</a></li>
                           <li><a href="blog-masonry-2-columns-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="#">timeline  <i class="fa fa-angle-right fa-indicator"></i></a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                          <li><a href="blog-timeline.html">fullwidth</a></li>
                          <li><a href="blog-timeline-left-sidebar.html">left sidebar</a></li>
                          <li><a href="blog-timeline-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="#">single post  <i class="fa fa-angle-right fa-indicator"></i></a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-single-image-post.html"> blog image post </a> </li>
                            <li><a href="blog-single-video-post.html"> blog video post </a> </li>
                            <li><a href="blog-single-youtube-post.html"> blog youtube post </a> </li>
                            <li><a href="blog-single-vimeo-post.html"> blog vimeo post </a> </li>
                            <li><a href="blog-single-audio-post.html"> blog audio post  </a> </li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Portfolio<i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel left-side">
                    
                    <li><a href="#">portfolio classic <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side">
                            <li><a href="javascript:void(0)"> 1 column  <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-classic-1-column-default.html">default</a></li>
                                    <li><a href="portfolio-classic-1-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-1-columns-right-sidebar.html">right sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"> 2 column  <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-classic-2-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-2-columns-right-sidebar.html">right sidebar</a></li>
                                    <li><a href="portfolio-classic-2-columns-fullwidth.html">fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"> 3 column  <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-classic-3-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-3-columns-right-sidebar.html">right sidebar</a></li>
                                    <li><a href="portfolio-classic-3-columns-fullwidth.html">fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)"> 4 column <i class="fa fa-angle-left fa-indicator"></i></a>
                                <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-classic-4-columns-left-sidebar.html">left sidebar</a></li>
                                    <li><a href="portfolio-classic-4-columns-right-sidebar.html">right sidebar</a></li>
                                    <li><a href="portfolio-classic-4-columns-fullwidth.html">fullwidth</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">portfolio Masonry <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side">
                            <li><a href="portfolio-masonry-2-columns.html"> 2 column </a> </li>
                            <li><a href="portfolio-masonry-3-columns.html"> 3 column </a> </li>
                            <li><a href="portfolio-masonry-4-columns.html"> 4 column </a> </li>
                            <li><a href="portfolio-masonry-full-screen.html"> full screen </a> </li>
                        </ul> 
                    </li>
                    <li><a href="#">portfolio grid <i class="fa fa-angle-left fa-indicator"></i></a>
                      <ul class="drop-down-multilevel left-side">
                            <li><a href="javascript:void(0)"> grid <i class="fa fa-angle-left fa-indicator"></i></a>  
                               <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-grid-2-columns.html">2 column</a></li>
                                    <li><a href="portfolio-grid-3-columns.html">3 column</a></li>
                                    <li><a href="portfolio-grid-4-columns.html">4 column</a></li>
                                </ul>
                              </li>
                            <li><a href="javascript:void(0)"> grid full screen <i class="fa fa-angle-left fa-indicator"></i></a> 
                               <!-- drop down third level -->
                                <ul class="drop-down-multilevel left-side">
                                    <li><a href="portfolio-grid-full-screen-2-columns.html">2 column</a></li>
                                    <li><a href="portfolio-grid-full-screen-3-columns.html">3 column</a></li>
                                    <li><a href="portfolio-grid-full-screen-4-columns.html">4 column</a></li>
                                    <li><a href="portfolio-grid-full-screen-5-columns.html">5 column</a></li>
                                </ul>
                            </li>
                       </ul>
                    </li>
                    <li><a href="#">portfolio Packery <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side">
                            <li><a href="portfolio-packetry.html"> packetry fullwidth </a> </li>
                            <li><a href="portfolio-packetry-fullwidth.html"> full screen </a> </li>
                         </ul>
                    </li>
                    <li><a href="#">portfolio single <i class="fa fa-angle-left fa-indicator"></i></a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel left-side">
                            <li><a href="portfolio-single-1.html"> single 01 </a> </li>
                            <li><a href="portfolio-single-2.html"> single 02 </a> </li>
                         </ul>
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"> Shortcodes <i class="fa fa-angle-down fa-indicator"></i></a>
              <!-- drop down full width -->
                <div class="drop-down grid-col-12">
                    <!--grid row-->
                    <div class="grid-row">
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-accordions.html"><i class="fa fa-list-ul"></i> accordions </a></li>
                              <li><a href="elements-action-box.html"><i class="fa fa-rocket"></i> action box</a></li>
                              <li><a href="elements-alerts-and-callouts.html"><i class="fa fa-info-circle"></i> alerts and callouts</a></li>
                              <li><a href="elements-buttons.html"><i class="fa fa-external-link"></i> buttons</a></li>
                              <li><a href="elements-carousel-slider.html"><i class="fa fa-exchange"></i> carousel slider</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-columns.html"><i class="fa fa-th"></i> columns</a></li>
                              <li><a href="elements-content-box.html"><i class="fa fa-file-text-o"></i> content box</a></li>
                              <li><a href="elements-counter.html"><i class="fa fa-sort-numeric-asc"></i> counter</a></li>
                              <li><a href="elements-data-table.html"><i class="fa fa-table"></i> data table</a></li>
                              <li><a href="elements-lists-style.html"><i class="fa fa-th-list"></i> lists style</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-post-style.html"> <i class="fa fa-photo"></i> post style</a></li>
                              <li><a href="elements-pricing-tables.html"><i class="fa fa-money"></i> pricing tables</a></li>
                              <li><a href="elements-skills.html"><i class="fa fa-tasks"></i> skills</a></li>
                              <li><a href="elements-social-icon.html"><i class="fa fa-share-alt"></i> social icon</a></li>
                              <li><a href="elements-social-widget-gallery.html"><i class="fa fa-bullhorn"></i> social widget gallery</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="elements-tabs.html"><i class="fa fa-star"></i> tabs</a></li>
                              <li><a href="elements-team.html"><i class="fa fa-users"></i> team</a></li>
                              <li><a href="elements-typography.html"><i class="fa fa-italic"></i> typography</a></li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </li>
            <li><a href="javascript:void(0)"> Contact <i class="fa fa-angle-down fa-indicator"></i></a>
                 <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel right-menu">
                    <li><a href="contact-1.html">Contact 1</a></li>
                    <li><a href="contact-2.html">Contact 2</a></li>
                    <li><a href="contact-3.html">Contact 3</a></li>
                </ul>
            </li>
        </ul>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>

<!--=================================
 header -->


 <!--=================================
  image-holder -->

  <div class="image-holder-2-bg" style="background: url('images/slider/slider-14.jpg'); background-position: center;">
   <div class="image-holder-2">
     <div class="image-holder-2-content">
      <div class="container">
      <div class="row">
       <div class="col-md-12 text-left image-holder-2-content">
        <span> Hello World i'm</span>
         <h1>  kevin walsh </h1>
         <div id="typer"></div>
          <div class="button">
            <a href="#">View my portfolio</a>
          </div>
        </div>
       </div>
     </div>
     </div>
  </div>
 </div>
 
<!--=================================
 image-holder-2  -->


<!--=================================
Experience   -->

<section class="experience page-section-ptb black-bg">
   <div class="container">
    <div class="owl-carousel-20"> 
      <div class="row item">
         <div class="col-lg-3 col-md-3 col-sm-3">
           <h1>01</h1>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-9">
           <h3 class="text-white uppercase">Front-End Development</h3>
           <span> Modern website designers</span>
           <p class="text-white">I have exercitation ullamco laboris nisi ut aliquip exea. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
      </div>
      <div class="row item">
         <div class="col-lg-3 col-md-3 col-sm-3">
           <h1>02</h1>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-9">
           <h3 class="text-white uppercase">UI/UX Design</h3>
           <span> Modern website designers</span>
           <p class="text-white"> At Modern website designers quis nostrud exercitation ullamco laboris nisi ut aliquip exea. commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
         </div>
      </div>
      <div class="row item">
         <div class="col-lg-3 col-md-3 col-sm-3">
           <h1>03</h1>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-9">
           <h3 class="text-white uppercase">Website production</h3>
           <span> Modern website designers</span>
           <p class="text-white"> Working with Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim niam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea.</p>
         </div>
      </div>
   </div>
</section>

<!--=================================
Experience   -->


<!--=================================
 portfolio -->

<section class="portfolio-4 white-bg page-section-ptb">
 <div class="container">
   <div class="row">
     <div class="section-title-2 text-center">
        <h1 class="text-blue">Latest Projects</h1>
       </div>
     </div>  
    <div class="isotope-filters-3">
      <button data-filter="" class="active">All</button>
      <button data-filter=".photography">photography</button>
      <button data-filter=".illustration">illustration</button>
      <button data-filter=".branding">branding</button>
      <button data-filter=".web-design">web-design</button>
 </div> 
 <div class="isotope popup-gallery popup-gallery columns-3">
    <div class="grid-item photography illustration">
      <div class="portfolio-item">
         <img src="images/portfolio/small/17.jpg" alt="">
           <div class="portfolio-hover">
              <div class="hover-name">
                <span> With some description</span>
                <a href="#">PHOTO ITEM</a>
              </div>
              <div class="hover-icon">
              <a class="portfolio-img" href="images/portfolio/small/17.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
           </div> 
       </div>
    </div>
    <div class="grid-item photography">
      <div class="portfolio-item">
         <img src="images/portfolio/small/18.jpg" alt="">
            <div class="portfolio-hover">
              <div class="hover-name">
                <span> With some description</span>
                <a href="#">PHOTO ITEM</a>
              </div>
              <div class="hover-icon">
               <a class="portfolio-img" href="images/portfolio/small/18.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
           </div>
       </div>
    </div>
     <div class="grid-item photography branding">
      <div class="portfolio-item">
         <img src="images/portfolio/small/19.jpg" alt="">
            <div class="portfolio-hover">
              <div class="hover-name">
                <span> With some description</span>
                <a href="#">PHOTO ITEM</a>
              </div>
              <div class="hover-icon">
               <a class="portfolio-img" href="images/portfolio/small/19.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
           </div>
       </div>
    </div>
    <div class="grid-item web-design">
      <div class="portfolio-item">
         <img src="images/portfolio/small/20.jpg" alt="">
            <div class="portfolio-hover">
              <div class="hover-name">
                <span> With some description</span>
                <a href="#">PHOTO ITEM</a>
              </div>
              <div class="hover-icon">
               <a class="portfolio-img" href="images/portfolio/small/20.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
           </div>
       </div>
    </div>
    <div class="grid-item photography illustration">
      <div class="portfolio-item">
         <img src="images/portfolio/small/21.jpg" alt="">
            <div class="portfolio-hover">
              <div class="hover-name">
                <span> With some description</span>
                <a href="#">PHOTO ITEM</a>
              </div>
              <div class="hover-icon">
               <a class="portfolio-img" href="images/portfolio/small/21.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
           </div>
       </div>
    </div>
    <div class="grid-item photography">
      <div class="portfolio-item">
         <img src="images/portfolio/small/22.jpg" alt="">
            <div class="portfolio-hover">
              <div class="hover-name">
                <span> With some description</span>
                <a href="#">PHOTO ITEM</a>
              </div>
              <div class="hover-icon">
               <a class="portfolio-img" href="images/portfolio/small/22.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
           </div>
       </div>
    </div>
    <div class="grid-item">
      <div class="portfolio-item">
         <img src="images/portfolio/small/23.jpg" alt="">
            <div class="portfolio-hover">
              <div class="hover-name">
                <span> With some description</span>
                <a href="#">PHOTO ITEM</a>
              </div>
              <div class="hover-icon">
               <a class="portfolio-img" href="images/portfolio/small/23.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
           </div>
       </div>
    </div>
      <div class="grid-item photography branding">
      <div class="portfolio-item">
         <img src="images/portfolio/small/24.jpg" alt="">
         <div class="portfolio-hover">
              <div class="hover-name">
                <span> With some description</span>
                <a href="#">PHOTO ITEM</a>
              </div>
              <div class="hover-icon">
               <a class="portfolio-img" href="images/portfolio/small/24.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
           </div>
       </div>
    </div>
     <div class="grid-item illustration">
      <div class="portfolio-item">
         <img src="images/portfolio/small/25.jpg" alt="">
         <div class="portfolio-hover">
              <div class="hover-name">
                <span> With some description</span>
                <a href="#">PHOTO ITEM</a>
              </div>
              <div class="hover-icon">
               <a class="portfolio-img" href="images/portfolio/small/25.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
           </div>
       </div>
     </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center">
        <div class="button">
          <a href="#">View all projects <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
   </div>
 </section>

<!--=================================
 portfolio -->


<!--=================================
 about -->

<section class="page-section-ptb blue-bg">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 col-md-12 text-center">
            <h1 class="text-white mb-50"> About Me </h1>
            <p class="text-white mb-20">Hello i am Kevin Walsh I have more than 9 years of experience in the field of Graphic/ E Learning/Web Designing. Specialized in Adobe web & graphic designing tools and also in otheta tools. Professional in Corporate branding, Graphic designing, Web Designing, visualization, GUI, graphics & animations for e-learning, illustrations, web icons, flash web banner, flash intro animations, logos, brochures, posters etc.

            <p class="text-white">I have lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <img class="img-responsive center-block mt-40" src="images/signature-2.png" alt="">
         </div>
      </div>
   </div>
</section>

<!--=================================
 about -->


<!--=================================
our-services -->

<section class="our-services page-section-ptb white-bg">
  <div class="container">
     <div class="row">
       <div class="col-lg-12 col-md-12">
        <div class="section-title-2 text-center">
          <h2 class="text-blue">Our Services</h2>
          <div class="title-line"></div>
          <p>We provide the best service in the Web World</p>
        </div>
       </div>
       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-20 text-center">
               <div class="feature-20-icon">
                 <span aria-hidden="true" class="icon-directions"></span>
               </div>
               <div class="feature-20-content">
                 <h4>Creative Ideas</h4>
                 <p>We also know those epic stories, those modern-day legends surrounding the early failures of such supremely successful.</p>
               </div>
             </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-20 text-center">
               <div class="feature-20-icon">
                 <span aria-hidden="true" class="icon-energy"></span>
               </div>
               <div class="feature-20-content">
                 <h4>Beautiful Blog</h4>
                 <p>We know this in our gut, but what can we do about it? How can we motivate ourselves? One of the most difficult aspects.</p>
               </div>
             </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-20 text-center">
               <div class="feature-20-icon">
                 <span aria-hidden="true" class="icon-compass"></span>
               </div>
               <div class="feature-20-content">
                 <h4>User Friendly</h4>
                 <p>Positive pleasure-oriented goals are much more powerful motivators than negative fear-based ones. Although each successful.</p>
               </div>
             </div>
           </div>
       </div>
       <div class="row mt-30">
         <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-20 text-center">
               <div class="feature-20-icon">
                 <span aria-hidden="true" class="icon-equalizer"></span>
               </div>
               <div class="feature-20-content">
                 <h4>Super Security</h4>
                 <p>se a past defeat as a motivator. Remind yourself you have nowhere to go except up as you have already been at the bottom.</p>
               </div>
             </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-20 text-center">
               <div class="feature-20-icon">
                 <span aria-hidden="true" class="icon-support"></span>
               </div>
               <div class="feature-20-content">
                 <h4>Portfolio Options</h4>
                 <p>Do it today. Remind yourself of someone you know who died suddenly and the fact that there is no guarantee that will come.</p>
               </div>
             </div>
           </div>
           <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="feature-20 text-center">
               <div class="feature-20-icon">
                 <span aria-hidden="true" class="icon-flag"></span>
               </div>
               <div class="feature-20-content">
                 <h4>Modern Design</h4>
                 <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.</p>
               </div>
             </div>
           </div>
       </div>
     </div>
  </div>
</section>

<!--=================================
our-services -->


<!--=================================
 testimonial -->

<section class="testimonial-4 bg-8 bg-opacity-white-80 page-section-ptb">
   <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
         <div class="section-title-2 text-center">
          <h1 class="text-black">What They Say</h1>
         </div> 
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="owl-carousel-19">
            <div class="item text-center">
              <p>I would like to express my thanks and appreciation to you for understanding the subject matter and for your excellent writing. Good job and well done. I look forward to working with you in our next project</p>
              <h5>John Doe</h5>
             <span>Web designer</span>
            </div>
            <div class="item text-center">
              <p>We are very pleased with your service and the professional way all our queries and problems have been handled. I certainly would not hesitate to recommend your organization to other people I come into contact with.</p>
             <h5>Alice Williams</h5>
             <span>Developer</span>
            </div>
            <div class="item text-center">
              <p>Our old site was very information-heavy; the Corps helped to capture and simplify the message we wanted to get across. It’s now more precise, easy to use and looks great! I look forward to working with you in our next project</p>
             <h5>Paul Flavius</h5>
             <span>Graphic Designer</span>
            </div>
           </div>
        </div>
      </div>
   </div>
</section>

<!--=================================
 testimonial -->

 
<!--=================================
 footer -->
 
<footer class="footer-7 page-section-ptb">
   <div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center footer-about">
           <img id="logo-footer" class="footer-logo img-responsive center-block" src="images/logo.png" alt="">
           <p>the Corps is an exclusive multi-purpose 100% responsive template with powerful features. Simple and well-structured coding, high quality and flexible layout, scalable features along with color schemes to create tailor-cut websites.</p>
          <ul class="social mt-40">
            <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i> </a></li>
            <li><a href="#"><i class="fa fa-vimeo"></i> </a></li>
            <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
            <li><a href="#"><i class="fa fa-behance"></i> </a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
          </ul>
        </div>
        </div>
 <div class="row">
      <div class="col-lg-12 col-md-12 footer-bottom mt-10 text-center">
        <p class="mb-0"> ©Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>2016</span> <a href="#"> theCORPS</a> All Rights Reserved </p>
      </div>
    </div>    
   </div>
</footer>

<!--=================================
 footer -->
 

<!--=================================
 popup contact -->

<div class="popup-contact">
 <div class="popup-contact-box">
  <a href="#" id="contact-btn"><i class="fa fa-envelope-o"></i></a> 
  <div class="contact-info clearfix">
    <h4 class="mb-30">Send us a message</h4>
    <div id="formmessage-2">Success/Error Message Goes Here</div>
     <form class="form-horizontal" id="contactform-2" role="form" method="post" action="php/contact-form-2.php">
        <div class="contact-form">
        <div class="section-field">
            <div class="field-widget">
            <i class="fa fa-user"></i>  
            <input id="name" type="text" placeholder="Name*"  name="name">
          </div> 
         </div>
         <div class="section-field">
            <div class="field-widget">
            <i class="fa fa-envelope-o"></i>
             <input type="email" placeholder="Email*" name="email">
          </div> 
         </div>
         <div class="section-field clearfix">
          <div class="field-widget">
               <i class="fa fa-pencil"></i>
               <textarea class="input-message"  placeholder="Comment*" rows="3" name="message"></textarea>
            </div>
          </div>
          <input type="hidden" name="action" value="sendEmail"/>
             <button id="submit-2" name="submit" type="submit" value="Send" class="button-border pull-right clearfix"><span>Send</span></button>
             </div> 
         </form>
       <div id="ajaxloader-2" style="display:none"><img class="center-block mt-30 mb-30" src="images/ajax-loader.gif" alt=""></div>
    </div>
 </div>
</div>

<!--=================================
 popup contact -->

 </div>
 
<div id="back-to-top"><a class="top arrow" href="#top"><i class="fa fa-long-arrow-up"></i></a></div>

<!--=================================
 jquery -->

<!-- jquery  -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- bootstrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- plugins-jquery -->
<script type="text/javascript" src="js/plugins-jquery.js"></script>

<!-- mega menu -->
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script>

<!-- typeit -->
<script src="js/typer/jquery.typer.js"></script>
 
<!-- isotope -->
<script src="js/isotope/isotope.pkgd.min.js"></script>

<!-- popup -->
<script src="js/popup/jquery.magnific-popup.js"></script>
 
<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>
 
</body>
</html>
